<section class="breadcrumbs">
  <div class="container">
    <h2>الخدمات</h2>
  </div>

  <div class="container">
    <div class="row justify-content-center align-items-end">
      <div class="col-md-7">
        <div class="card">
          <ul>
            <li routerLink="/services/medical-rehabilitation" [ngClass]="{'active':active==1}" (click)="active=1">
              التأهيل الطبي</li>
            <li routerLink="/services/prosthetics" [ngClass]="{'active':active==2}" (click)="active=2">الأطراف الصناعية
            </li>
            <li [ngClass]="{'active':active==3}" (click)="active=3">السمع والتوازن</li>
            <li [ngClass]="{'active':active==4}" (click)="active=4">العيادات الخارجية</li>
          </ul>
        </div>

      </div>
    </div>

  </div>
</section>

<router-outlet></router-outlet>