<!--  <ng-container *ngIf="bgSection$ |async as data ;else bg ">
 -->
<section class="breadcrumbs" style=" background-image: linear-gradient(#8a1538ab, #8a1538c0), url(http://hamad_api.accessline.ps{{background}});"> <!-- style="background-image:url({{data}})" -->

  <div class="container">
<!--     <ng-container *ngIf="bgSection$ |async as data ;else bg ">  </ng-container>
 -->    <h2>الأقسام والخدمات الرئيسية</h2>

 <ng-container *ngIf="Services$ |async as data  ">  </ng-container>
  </div>
  <div class="container">
    <div class="row justify-content-center align-items-end">
      <div class="col-md-8">
        <div class="card">
          <ul>
            <li
              class="mb-md-0 mb-1"
              routerLink="/sections/medical-rehabilitation"
              [ngClass]="{ active: active == 1 }"
              (click)="active = 1  ; setBackGround(active)"
            >
              التأهيل الطبي
            </li>
            <li
              class="mb-md-0 mb-1"
              routerLink="/sections/prosthetics"
              [ngClass]="{ active: active == 2 }"
              (click)="active = 2; setBackGround(active)"
            >
              الأطراف الصناعية
            </li>
            <li
              class="mb-md-0 mb-1"
              routerLink="/sections/hearing-balance"
              [ngClass]="{ active: active == 3 }"
              (click)="active = 3; setBackGround(active)"
            >
              السمع والتوازن
            </li>
            <li
              class="mb-md-0 mb-1"
              routerLink="/sections/outpatient-clinics"
              [ngClass]="{ active: active == 4 }"
              (click)="active = 4; setBackGround(active)"
            >
              العيادات الخارجية
            </li>
            <li
              class="mb-md-0 mb-1"
              routerLink="/sections/supportive"
              [ngClass]="{ active: active == 5 }"
              (click)="active = 5; setBackGround(active)"
            >
              خدمات طبية مساندة
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ; setBackGround(active) -->
<router-outlet></router-outlet>
