<section class="breadcrumbs">
  <div class="container">
    <h2>المركز الاعلامي</h2>
  </div>
</section>

<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="nav flex-column py-4">
          <li class="nav-item mb-2">
            <a class="nav-link" routerLink="/media-center/news/news-main" [ngClass]="{'active':active==1}"
              (click)="active=1">الاخبار</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" routerLink="/media-center/photo/photo-main" [ngClass]="{'active':active==2}"
              (click)="active=2">معرض
              الصور</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" routerLink="/media-center/video/video-main" [ngClass]="{'active':active==3}"
              (click)="active=3">معرض
              الفيديو</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" routerLink="/media-center/medical-articles/medical-articles-main"
              [ngClass]="{'active':active==4}" (click)="active=4">المقالات
              الطبية</a>
          </li>
          <li>
            <a href="#submenu" data-bs-toggle="collapse"
              class="nav-link d-flex justify-content-between align-items-baseline" [ngClass]="{'active':active==5}"
              (click)="active=5">
              <span class="ms-1 d-none d-sm-inline">قصص النجاح</span>
              <i class="fa-solid fa-caret-left" [class]="active==5 ? 'rotate' : 'remove-rotate'"></i>
            </a>
            <ul class="collapse hide nav flex-column" id="submenu" data-bs-parent="#menu">
              <li class="w-100">
                <a class="nav-link" routerLink="/media-center/success-stories/visual-stories"> قصص مرئية </a>
              </li>
              <li>
                <a class="nav-link" routerLink="/media-center/success-stories/written-stories"> قصص مكتوبة</a>
              </li>
            </ul>
          </li>

        </ul>
      </div>
      <div class="col-md-9">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</section>