
<ng-container *ngIf="PhotosDetails$ |async as item">


<section class="news mt-5">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div class="section-title">
          <div class="section-title">
            <ng-container *ngIf="item.MainServiceID === 1">  <span></span> التأهيل الطبي </ng-container>
            <ng-container *ngIf="item.MainServiceID === 2">  <span></span> الاطراف الصناعية </ng-container>
            <ng-container *ngIf="item.MainServiceID === 3">  <span></span> السمع والتوازن </ng-container>
            <ng-container *ngIf="item.MainServiceID === 4">  <span></span> العيادة الخارجية </ng-container>
            <h1>{{ isEn ? item?.TitleEn : item?.TitleAr }}  </h1>
          </div>
        </div>

        <!--  -->

        <ng-container *ngIf="ImageSection$ | async as data">
          <p-galleria [numVisible]="3" [value]="data" >
            <ng-template pTemplate="item" let-item>
              <img
              [src]=" 'http://hamad_api.accessline.ps'+ item?.ImagePath"

                style="width: 100%; height: 567px; object-fit: cover; border-radius: 4px;"
              />
            </ng-template>

            <ng-template pTemplate="thumbnail" let-item>
              <div class="grid grid-nogutter justify-content-center">
                <img
                [src]=" 'http://hamad_api.accessline.ps'+ item?.ImagePath"
                  width="80%"
                />
              </div>
            </ng-template>
          </p-galleria>
        </ng-container>


        <!--  -->



      </div>
    </div>





 <!--    <p-galleria [numVisible]="3" [value]="images">
      <ng-template pTemplate="item" let-item>
        <img [src]="item.previewImageSrc" [alt]="item.alt" [title]="item.title"
          style="width: 90%; height: 450px; object-fit: cover;" />
      </ng-template>

      <ng-template pTemplate="thumbnail" let-item>
        <div class="grid  grid-nogutter justify-content-center">
          <img [src]="item.thumbnailImageSrc" [alt]="item.alt" [title]="item.title" width=80% />
        </div>
      </ng-template>
    </p-galleria> -->


  </div>
</section>




<div class="container mb-4">
  <div class="section-2 d-flex align-items-center mb-2">
    <div class="line"></div>
    <h2 class="d-inline-block ps-2">اخر الصور</h2>
  </div>
  <ng-container *ngIf="MediaCenterService$ |async as data">
    <ng-container *ngIf="item.ID != data.ID">
  <div class="row">
    <div class="col-md-4 mt-md-0 mt-3" *ngFor="let item of data.slice(-3)">
      <div class="img" routerLink="/photo-details/{{item.ID}}" (click)="showPhotosDetails(item)"  >
        <img
        [src]=" 'http://hamad_api.accessline.ps'+ item?.ImagePath" style="width: 100%; object-fit: cover; height: 260px; border-radius: 6px;"
          class="img-fluid main-img"
          alt=""
        />
        <div class="d-flex justify-content-between img-title">
          <p> {{ isEn ? item?.TitleEn : item?.TitleAr  | slice:0:30 }} {{  isEn ? item?.TitleEn.length : item?.TitleAr.length > 30 ? '...' : '' }}</p>
          <div>
           <!--  <span>{{data.length}}</span> -->
            <img src="../../../../assets/img/photo.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
</ng-container>
</div>
</ng-container>
