<section class="news">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div class="section-title">
          <span>تصنيف الخبر </span>
          <h1>وريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه لتعرض على العميل ليتصور طريقه
            لتعرض على العميل </h1>
        </div>
      </div>
    </div>

    <!--     <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '640px'}"
      [numVisible]="5">
      <ng-template pTemplate="item" let-item>
        <img [src]="item.previewImageSrc" style="width: 100%;" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
          <img [src]="item.thumbnailImageSrc" />
        </div>
      </ng-template>
    </p-galleria> -->

    <img src="../../../assets/img/news-details.webp" class="img-fluid" alt="">

    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-10 post-p">
        <!--  -->
        <p>
          وريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت
          تصاميم موريم ايبسوم هو نموذج افتراضي يوضع فالتصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء
          كانت تصاميم موريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه النصوص
        </p>

        <p>
          ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم النصوص بالتصاميم سواء كانت تصاميم موريم ايبسوم هو
          نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم موريم
          ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم
          موريم ايبسوم هو نموذج افتراضي يوضع التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت

        </p>
        <p> تصاميايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت
          تصاميم موريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء
          كانت تصاميم موريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه.</p>
      </div>
    </div>


    <div class="section-2 d-flex align-items-center mb-2">
      <div class="line"> </div>
      <h2 class="d-inline-block ps-2">اخر الاخبار</h2>
    </div>
    <div class="row">
      <div class="col-md-4 mt-md-0 mt-3">
        <div class="img">
          <img src="../../../../assets/img/image.webp" class="img-fluid main-img" alt="">
          <div class="d-flex justify-content-between img-title">
            <p>عنوان الالبوم</p>
            <div>
              <span>10</span>
              <img src="../../../../assets/img/photo.svg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-md-0 mt-3">
        <div class="img">
          <img src="../../../../assets/img/image.webp" class="img-fluid main-img" alt="">
          <div class="d-flex justify-content-between img-title">
            <p>عنوان الالبوم</p>
            <div>
              <span>10</span>
              <img src="../../../../assets/img/photo.svg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-md-0 mt-3">
        <div class="img">
          <img src="../../../../assets/img/image.webp" class="img-fluid main-img" alt="">
          <div class="d-flex justify-content-between img-title">
            <p>عنوان الالبوم</p>
            <div>
              <span>10</span>
              <img src="../../../../assets/img/photo.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</section>






<!--  [value]="images"
      <ng-template pTemplate="item" let-item></ng-template> -->

<!--  <p-galleria>

      <img src="../../../assets/img/news-details.webp" />
      <img src="../../../assets/img/news-details.webp" />
      <img src="../../../assets/img/news-details.webp" />
      <img src="../../../assets/img/news-details.webp" />

    </p-galleria> -->
