
<ng-container *ngIf="PhotosDetails$ |async as data">


<section class="news mt-5">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div class="section-title">
          <div class="section-title">
            <ng-container *ngIf="data.MainServiceID === 1">  <span></span> التأهيل الطبي </ng-container>
            <ng-container *ngIf="data.MainServiceID === 2">  <span></span> الاطراف الصناعية </ng-container>
            <ng-container *ngIf="data.MainServiceID === 3">  <span></span> السمع والتوازن </ng-container>
            <ng-container *ngIf="data.MainServiceID === 4">  <span></span> العيادة الخارجية </ng-container>
            <h1>{{ isEn ? data?.TitleEn : data?.TitleAr }}  </h1>
          </div>
        </div>
      </div>
    </div>

    <!--     <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '640px'}"
      [numVisible]="5">
      <ng-template pTemplate="item" let-item>
        <img [src]="item.previewImageSrc" style="width: 100%;" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
          <img [src]="item.thumbnailImageSrc" />
        </div>
      </ng-template>
    </p-galleria> -->


    <p-galleria [numVisible]="3" [value]="images">
      <ng-template pTemplate="item" let-item>
        <img [src]="item.previewImageSrc" [alt]="item.alt" [title]="item.title"
          style="width: 90%; height: 450px; object-fit: cover;" />
      </ng-template>

      <ng-template pTemplate="thumbnail" let-item>
        <div class="grid  grid-nogutter justify-content-center">
          <img [src]="item.thumbnailImageSrc" [alt]="item.alt" [title]="item.title" width=80% />
        </div>
      </ng-template>
    </p-galleria>

    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-10 post-p">
        <!--  -->
        <p>
          {{ isEn ? data?.DescEn : data?.DescAr }}
        </p>

      </div>
    </div>

  </div>
</section>

</ng-container>


<div class="container mb-4">
  <div class="section-2 d-flex align-items-center mb-2">
    <div class="line"> </div>
    <h2 class="d-inline-block ps-2">اخر الاخبار</h2>
  </div>
  <div class="row">
    <div class="col-md-4 mt-md-0 mt-3">
      <div class="img">
        <img src="../../../../assets/img/image.webp" class="img-fluid main-img" alt="">
        <div class="d-flex justify-content-between img-title">
          <p>عنوان الالبوم</p>
          <div>
            <span>10</span>
            <img src="../../../../assets/img/photo.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-md-0 mt-3">
      <div class="img">
        <img src="../../../../assets/img/image.webp" class="img-fluid main-img" alt="">
        <div class="d-flex justify-content-between img-title">
          <p>عنوان الالبوم</p>
          <div>
            <span>10</span>
            <img src="../../../../assets/img/photo.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-md-0 mt-3">
      <div class="img">
        <img src="../../../../assets/img/image.webp" class="img-fluid main-img" alt="">
        <div class="d-flex justify-content-between img-title">
          <p>عنوان الالبوم</p>
          <div>
            <span>10</span>
            <img src="../../../../assets/img/photo.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
