<div class="row">
  <ng-container *ngIf="MediaCenterService$ | async as data">
    <div class="col-md-6 mb-4" *ngFor="let item of data">
      <div class="post-box " routerLink="/medical-article-details/{{item.ID}}" (click)="showMedicalArticles(item)"  >
        <div class="post-img">
          <ng-container *ngIf="item?.ImagePath ; else f" >
            <img [lazyLoad]=" 'http://hamad_api.accessline.ps'+ item?.ImagePath" class="img-fluid main-img" style="height: 300px; object-fit: cover; border-radius: 4px;"  class="img-fluid" alt="">
          </ng-container>
          <ng-template #f>
            <img src="../../../../assets/img/cover_Hamad.jpg" class="img-fluid main-img" style="height: 300px; object-fit: cover; border-radius: 4px;"  class="img-fluid" alt="">

          </ng-template>
        </div>
        <div class="d-flex justify-content-between align-items-baseline mb-1 ">
          <ng-container *ngIf="item.MainServiceID === 1">
            <span class="categories">التأهيل الطبي</span>
          </ng-container>
          <ng-container *ngIf="item.MainServiceID === 2">
            <span class="categories">الاطراف الصناعية</span>
          </ng-container>
          <ng-container *ngIf="item.MainServiceID === 3">
            <span class="categories">السمع والتوازن</span>
          </ng-container>
          <ng-container *ngIf="item.MainServiceID === 4">
            <span class="categories">العيادة الخارجية</span>
          </ng-container>

          <span class="post-date">{{item?.CreatedDate | date }}</span>
        </div>
        <h3 class="post-title">{{ isEn ? item?.Title : item?.Title }}  </h3>
        <div class="medical-articaels">
          <p  [innerHTML]="item?.Desc | slice:0:100 "></p>
        </div>
<!--        <p>{{ isEn ? item?.DescEn : item?.DescAr | slice:0:100 }} {{  isEn ? item?.DescEn.length : item?.DescAr.length > 100 ? '...' : '' }}</p>
 -->        <a href="#" class="readmore   mt-auto d-flex align-items-baseline"><span>إقراء
            المزيد</span><i class="fa-solid fa-arrow-left-long ps-1"></i>
        </a>
      </div>
    </div>

  </ng-container>
</div>
