<div class="row">
  <div class="col-md-6 mt-md-0 mt-3">
    <div class="post-box" routerLink="/medical-article-details">
      <div class="post-img"><img src="../../../assets/img/Bg.png" class="img-fluid" alt=""></div>
      <div class="d-flex justify-content-between align-items-baseline mb-1 ">
        <span class="categories">التأهيل الطبي</span>
        <span class="post-date">12/12/2022</span>
      </div>
      <h3 class="post-title">عنوان المقال نموذج افتراضي يوضع </h3>
      <p>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء
        كانت تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... </p>
      <a href="#" class="readmore   mt-auto d-flex align-items-baseline"><span>إقراء
          المزيد</span><i class="fa-solid fa-arrow-left-long ps-1"></i>
      </a>
    </div>
  </div>
  <div class="col-md-6 mt-md-0 mt-3">
    <div class="post-box" routerLink="/medical-article-details">
      <div class="post-img"><img src="../../../assets/img/Bg.png" class="img-fluid" alt=""></div>
      <div class="d-flex justify-content-between align-items-baseline mb-1 ">
        <span class="categories">التأهيل الطبي</span>
        <span class="post-date">12/12/2022</span>
      </div>
      <h3 class="post-title">عنوان المقال نموذج افتراضي يوضع </h3>
      <p>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء
        كانت تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... </p>
      <a href="#" class="readmore   mt-auto d-flex align-items-baseline"><span>إقراء
          المزيد</span><i class="fa-solid fa-arrow-left-long ps-1"></i>
      </a>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="post-box" routerLink="/medical-article-details">
      <div class="post-img"><img src="../../../assets/img/Bg.png" class="img-fluid" alt=""></div>
      <div class="d-flex justify-content-between align-items-baseline mb-1 ">
        <span class="categories">التأهيل الطبي</span>
        <span class="post-date">12/12/2022</span>
      </div>
      <h3 class="post-title">عنوان المقال نموذج افتراضي يوضع </h3>
      <p>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء
        كانت تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... </p>
      <a href="#" class="readmore   mt-auto d-flex align-items-baseline"><span>إقراء
          المزيد</span><i class="fa-solid fa-arrow-left-long ps-1"></i>
      </a>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="post-box" routerLink="/medical-article-details">
      <div class="post-img"><img src="../../../assets/img/Bg.png" class="img-fluid" alt=""></div>
      <div class="d-flex justify-content-between align-items-baseline mb-1 ">
        <span class="categories">التأهيل الطبي</span>
        <span class="post-date">12/12/2022</span>
      </div>
      <h3 class="post-title">عنوان المقال نموذج افتراضي يوضع </h3>
      <p>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء
        كانت تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... </p>
      <a href="#" class="readmore   mt-auto d-flex align-items-baseline"><span>إقراء
          المزيد</span><i class="fa-solid fa-arrow-left-long ps-1"></i>
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="post-box mt-3" routerLink="/medical-article-details">
      <div class="post-img"><img src="../../../assets/img/Bg.png" class="img-fluid" alt=""></div>
      <div class="d-flex justify-content-between align-items-baseline mb-1 ">
        <span class="categories">التأهيل الطبي</span>
        <span class="post-date">12/12/2022</span>
      </div>
      <h3 class="post-title">عنوان المقال نموذج افتراضي يوضع </h3>
      <p>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء
        كانت تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... </p>
      <a href="#" class="readmore   mt-auto d-flex align-items-baseline"><span>إقراء
          المزيد</span><i class="fa-solid fa-arrow-left-long ps-1"></i>
      </a>
    </div>
  </div>
</div>
