<section class="breadcrumbs">
  <div class="container">
    <h2>الإعلانات</h2>
  </div>
</section>

<div class="container ads-details my-3">
  <ng-container *ngIf="Advertisements$ | async as item" >
    <span><i class="fa-solid fa-calendar"></i> {{item[0]?.CreatedDate | date }}</span>
    <h2> {{item[0]?.TitleAr }} </h2>
    <div [innerHTML]="item[0]?.DescriptionAr"></div>
    <!-- <ng-container *ngIf="item[0]?.ButtonAdded">
      <a target="_blank" [href]="item[0]?.ButtonLink"
        >{{ item[0]?.ButtonTitleAr }}
        <i class="fa-solid fa-arrow-left-long ps-1"></i
      ></a>
    </ng-container> -->
  </ng-container>
</div>
