<footer id="footer">
  <div class="counter">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-6 text-center">
          <p>1080</p>
          <span>مرضى المستشفى</span>
        </div>
        <div class="col-md-3 col-6 text-center">
          <p>160 </p>
          <span>قصص النجاح</span>
        </div>
        <div class="col-md-3 col-6 text-center">
          <p>475</p>
          <span>العمليات الجراحية </span>
        </div>
        <div class="col-md-3 col-6 text-center">
          <p>220</p>
          <span>طاقم العمل</span>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-top">
    <div class="container pt-5">
      <div class="row justify-content-between  ">
        <div class=" col-md-6 footer-info">
          <img src="../../../assets/img/QFFD 2.svg" width="180px" alt="logo">
          <img src="../../../assets/img/Logo2.svg" height="50px" alt="logo" class="ms-4">
          <p class="my-3 pe-4">
            لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت
            تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... او نماذج مواقع انترنتلوريم ايبسوم هو نموذج افتراضي
            يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم.
          </p>
          <div class="social-links">
            <a href=""><img src="../../../assets/img/brand-facebook.svg" alt=""></a>
            <a href=""><img src="../../../assets/img/brand-youtube.svg" alt=""></a>
            <a href=""><img src="../../../assets/img/brand-instagram.svg" alt=""></a>
            <a href=""><img src="../../../assets/img/brand-twitter.svg" alt=""></a>
            <a href=""><img src="../../../assets/img/brand-whatsapp.svg" alt=""></a>
          </div>
          <a href="" class="mt-2 text-white">@gazahamad</a>
        </div>

        <div class="col-md-2 col-6 footer-links">
          <h4>القائمة</h4>
          <ul>
            <li><a routerLink="/about-us">من نحن</a></li>
            <li><a routerLink="/services">الاقسام</a></li>
            <li><a routerLink="/services">خدمات المستفشى</a></li>
            <li><a routerLink="/services-form/beneficiaries-service">اقتراح وشكاوي </a></li>
          </ul>
        </div>

        <div class="col-md-3 col-6 footer-contact">
          <h4>إتصل بنا</h4>
          <div class="footer-contacts">
            <p><img src="../../../assets/img/map-pin.svg" alt=""> <a href=""> غزة, ش الرشيد بجوار فندق
                المتحف مقابل مسجد الخالدي.</a> </p>
            <p><img src="../../../assets/img/phone.svg" alt=""> <a href="1700170070">1700 1700 70</a></p>
            <p><img src="../../../assets/img/device-mobile.svg" alt=""> <a href="tel:0562331013">0562331013</a></p>
            <p><img src="../../../assets/img/mail.svg" alt=""> <a href="mailto:info@hamad.ps">info@hamad.ps</a></p>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      جميع الحقوق محفوظة <strong> © 2023 مستشفى حمد</strong>
    </div>
  </div>
</footer>
