<footer id="footer">
  <ng-container *ngIf="LandingPageData$ |async as data">
    <div class="counter">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-6 text-center mb-3" *ngFor="let item of data?.Stats">
            <p>{{item.Count}} </p>
            <span> {{item?.Name}}</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="LandingPageData$ |async as data">
  <div class="footer-top" >
    <div class="container pt-5">
      <div class="row justify-content-between  ">
        <div class=" col-md-6 footer-info">
          <img src="../../../assets/img/QFFD 2.svg" width="180px" alt="logo">
          <img [src]=" 'http://hamad_api.accessline.ps'+ data?.MainInfo?.LogoImagePath" height="50px" alt="logo" class="ms-4">
          <p class="my-3 pe-4">
            {{data?.MainInfo?.About}}
          </p>
          <div class="social-links">
            <a [href]="data?.MainInfo?.FacebookLink" target="_blank"><img src="../../../assets/img/brand-facebook.svg" alt=""></a>
            <a [href]="data?.MainInfo?.YoutubeLink" target="_blank"><img src="../../../assets/img/brand-youtube.svg" alt=""></a>
            <a [href]="data?.MainInfo?.InstagramLink"target="_blank"><img src="../../../assets/img/brand-instagram.svg" alt=""></a>
            <a [href]="data?.MainInfo?.TwitterLink" target="_blank"><img src="../../../assets/img/brand-twitter.svg" alt=""></a>
            <a [href]="data?.MainInfo?.WhatsAppLink" target="_blank"><img src="../../../assets/img/brand-whatsapp.svg" alt=""></a>
          </div>
          <a [href]="" class="mt-2 text-white">{{data?.MainInfo?.SocialMediaTag}}</a>
        </div>

        <div class="col-md-2 col-6 footer-links">
          <h4>القائمة</h4>
          <ul>
            <li><a routerLink="/about-us">من نحن</a></li>
            <li><a routerLink="/services">الاقسام</a></li>
            <li><a routerLink="/services">خدمات المستفشى</a></li>
            <li><a routerLink="/services-form/beneficiaries-service">اقتراح وشكاوي </a></li>
          </ul>
        </div>

        <div class="col-md-3 col-6 footer-contact">
          <h4>إتصل بنا</h4>
          <div class="footer-contacts">
            <p><img src="../../../assets/img/map-pin.svg" alt=""> <a href="">
              {{data?.MainInfo?.Location}}
              </a> </p>
            <p><img src="../../../assets/img/phone.svg" alt=""> <a >{{data?.MainInfo?.Phone}}</a></p>
            <p><img src="../../../assets/img/device-mobile.svg" alt=""> <a>{{data?.MainInfo?.Mobile}}</a></p>
            <p><img src="../../../assets/img/mail.svg" alt=""> <a [href]="data?.MainInfo?.Email">{{data?.MainInfo?.Email}}</a></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</ng-container>
  <div class="container">
    <div class="copyright">
      جميع الحقوق محفوظة <strong> © 2023 مستشفى حمد</strong>
    </div>
  </div>
</footer>
