
section{
  padding: 70px 0;

  .container{
    background: #FEFAF5;
    border-radius: 5px 0 0 5px;
  }
  .contact-box{
    background: linear-gradient(158.79deg, #BB1043 0%, #8C0931 46.08%, #610B25 99.42%);
    border-radius: 0 5px 5px 0;
  }

  .contact-box{
    position: relative;
    z-index: 0;
    .patern{
      position: absolute;

      z-index: -1;
      width: 100%;
      user-select: none;
      right: 0;
      bottom: 0;
      }
  }


  .contact-box a {
    color: #ffff;
  }
  .contacts img{
    background: #ffffff1f;
    padding: 9px;
    border-radius: 50%;
  }
  .contact-box .contacts {
    display: flex;
    align-items: center;

  }
.contact-box .contacts span{
  display: block;
  font-size: 13px;
  color: #fff;
  padding-bottom: 3px;
}
}

