<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="contact-box p-5">

          <img src="../../../assets/img/patern.png" class="img-fluid patern" alt="">
          <div class="contacts">
            <img src="../../../assets/img/mail.svg" alt="">
            <div class="ms-3">
              <span>الإيميل</span>
              <a href="mailto:info@hamad.ps">info@hamad.ps</a>
            </div>
          </div>
          <div class="contacts mt-4">
            <img src="../../../assets/img/phone.svg" alt="">
            <div class="ms-3">
              <span>الهاتف</span>
              <a href="1700170070">1700 1700 70</a>
            </div>
          </div>
          <div class="contacts my-4">
            <img src="../../../assets/img/device-mobile.svg" alt="">
            <div class="ms-3">
              <span>الجوال</span>
              <a href="tel:0562331013">0562331013</a>
            </div>
          </div>
          <div class="contacts">
            <img src="../../../assets/img/map-pin.svg" alt="">
            <div class="ms-3">
              <span>العنوان</span>
              <a href=""> غزة, ش الرشيد بجوار فندق
                المتحف مقابل مسجد الخالدي.</a>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-8 py-4 px-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>