<div class="row">
  <ng-container *ngIf="MediaCenterService$ |async as data">
   <div class="col-md-6 mb-4"  *ngFor="let item of data">
    <div class="img" routerLink="/digital-story-details/{{item.ID}}" (click)="showVisualStories(item)">
      <img [lazyLoad]=" 'http://hamad_api.accessline.ps'+ item?.ImagePath" style="height: 300px; object-fit: cover; border-radius: 6px;" class="img-fluid main-img" alt="">
      <div class="d-flex justify-content-between img-title">
        <p>{{ item?.Title | slice:0:35 }} {{   item?.Title.length > 35 ? '...' : '' }}</p>
      </div>
    </div>
    </div>
  </ng-container>
</div>
