<div class="row">

<!--   <div class="col-12">
    <div class="img" routerLink="/written-stories-details">
      <img src="../../../../assets/img/written-stories.webp" class="img-fluid main-img" alt="">
      <div class="d-flex justify-content-between img-title">
        <p>عنوان الالبوم</p>
      </div>
    </div>
  </div> -->

  <p-galleria [numVisible]="3" [value]="images">
    <ng-template pTemplate="item" let-item>
      <img [src]="item.previewImageSrc" [alt]="item.alt" [title]="item.title"
        style="width: 90%; height: 450px; object-fit: cover;" />
    </ng-template>

    <ng-template pTemplate="thumbnail" let-item>
      <div class="grid  grid-nogutter justify-content-center">
        <img [src]="item.thumbnailImageSrc" [alt]="item.alt" [title]="item.title" width=80% />
      </div>
    </ng-template>
  </p-galleria>

</div>
