<div class="row">

  <div class="col-12">
    <div class="img">
      <img src="../../../../assets/img/written-stories.webp" class="img-fluid main-img" alt="">
      <div class="d-flex justify-content-between img-title">
        <p>عنوان الالبوم</p>
      </div>
    </div>
  </div>
  <div class="col-12 mt-3">
    <div class="img">
      <img src="../../../../assets/img/written-stories.webp" class="img-fluid main-img" alt="">
      <div class="d-flex justify-content-between img-title">
        <p>عنوان الالبوم</p>
      </div>
    </div>
  </div>
  <div class="col-12 mt-3">
    <div class="img">
      <img src="../../../../assets/img/written-stories.webp" class="img-fluid main-img" alt="">
      <div class="d-flex justify-content-between img-title">
        <p>عنوان الالبوم</p>
      </div>
    </div>
  </div>
</div>