
<h3>{{ isEn ? 'Visitor service' : 'خدمة زائرين' }}</h3>

<form class="row g-3" [formGroup]="Form_Visitors"  >
  <div class="col-md-6">

    <label>{{ isEn ? 'Full Name' : 'الاسم كامل' }} <span>{{ isEn ? '(required)' : '(مطلوب)' }}</span></label>
  <input [class.is-invalid]="FullName?.invalid && FullName?.touched" formControlName="FullName" type="text" pInputText>
  <div *ngIf="FullName?.invalid && FullName?.touched">
    <small class="text-danger" *ngIf="FullName?.errors?.['required']"  >{{ isEn ? 'Name is required' : 'الاسم مطلوب' }}</small>
    <small class="text-danger" *ngIf="FullName?.errors?.['minlength']" > {{ isEn ? 'The name must be at least 5 characters long' : 'الاسم يجب ان يكون على الاقل 5 حروف' }}</small>
</div>
</div>
<div class="col-md-6">
  <label>{{ isEn ? 'Email' : 'البريد الالكتروني' }} </label>
  <input [class.is-invalid]="Email?.invalid && Email?.touched" formControlName="Email" type="email" pInputText>
     <div *ngIf="Email?.invalid && Email?.touched">
      <small class="text-danger" *ngIf="Email?.errors?.['email']" >{{ isEn ? 'Please enter the email correctly' : 'يرجى ادخال الايميل بشكل صحيح' }}</small>
    </div>
</div>
<div class="col-md-6">
  <label>{{ isEn ? 'Mobile number' : 'رقم الموبايل ' }} <span>{{ isEn ? '(required)' : '(مطلوب)' }}</span></label>
  <input [class.is-invalid]="FullName?.invalid && FullName?.touched" formControlName="PhoneNumber" type="text" pInputText>
  <div *ngIf="PhoneNumber?.invalid && PhoneNumber?.touched">
    <small class="text-danger" *ngIf="PhoneNumber?.errors?.['required']"  >{{ isEn ? 'Mobile number is required' : 'رقم الموبايل مطلوب' }}</small>
    <small class="text-danger d-block " *ngIf="PhoneNumber?.errors?.['pattern']" >{{ isEn ? 'Please enter a valid mobile' : 'يرجى ادخال موبايل بشكل صحيح' }} </small>
     <small class="text-danger" *ngIf="PhoneNumber?.errors?.['minlength'] ||PhoneNumber?.errors?.['maxlength']" >{{ isEn ? 'The number must be 10 digits' : 'الرقم يجب ان يكون من 10ارقام' }} </small>
  </div>
</div>
<div class="col-md-6">
  <label> {{ isEn ? 'The full address' : 'العنوان بالكامل ' }}  <span>{{ isEn ? '(required)' : '(مطلوب)' }}</span></label>
  <input [class.is-invalid]="FullName?.invalid && FullName?.touched" formControlName="Address" type="text" id="inputAddress" pInputText>
  <div *ngIf="Address?.invalid && Address?.touched">
    {{ isEn ? 'The field is required' : 'الحقل مطلوب ' }}    </div>
</div>

  <div class="col-md-6">
    <label>{{ isEn ? 'Reason for communication' : 'سبب التواصل ' }} <span>{{ isEn ? '(required)' : '(مطلوب)' }}</span></label>
    <ng-container *ngIf="Codes$ |async as code">
      <p-dropdown formControlName="CommunicationReason" [options]="code.data" [optionLabel]="'Name'"
      [optionValue]="'ID'" ></p-dropdown>
    </ng-container>

  </div>
  <div class="col-12">
    <label>{{ isEn ? 'Message text' : 'نص الرسالة ' }}</label>
    <textarea formControlName="TextMessage" [rows]="4" pInputTextarea></textarea>
  </div>
  <div class="col-12">
    <button pButton type="button" class="mb-2" (click)="saveVisitors()" [label]=" isEn ? 'Send' : 'إرسال ' "></button>
    <p-captcha
    siteKey="6LeeT7QmAAAAAEnHpRDr9oRQcPUNVQWv1D5_oSBv"
    initCallback="onloadCallback"
    (onResponse)="showResponse($event)"
  ></p-captcha>
  </div>
</form>
