<h3>خدمة زائرين</h3>
<form class="row g-3" [formGroup]="Form_Visitors"  >
  <div class="col-md-6">
    <label>الاسم كامل</label>
    <input formControlName="FullName" type="text" pInputText>
  </div>
  <div class="col-md-6">
    <label>البريد الالكتروني </label>
    <input formControlName="Email" type="email" pInputText>
  </div>
  <div class="col-md-6">
    <label>رقم الهاتف </label>
    <input  formControlName="PhoneNumber" type="number" pInputText>
  </div>
  <div class="col-md-6">
    <label>العنوان بالكامل</label>
    <input  formControlName="Address" type="text" id="inputAddress" pInputText>
  </div>

  <div class="col-md-6">
    <label>سبب التواصل</label>
    <p-dropdown formControlName="CommunicationReason" [options]="cities" [optionLabel]="'Name'" [optionValue]="'Code'" ></p-dropdown>
  </div>
  <div class="col-12">
    <label>نص الرسالة </label>
    <textarea formControlName="TextMessage" [rows]="4" pInputTextarea></textarea>
  </div>
  <div class="col-12">
    <button pButton type="button" class="" (click)="saveVisitors()" label="إرسال"></button>
  </div>
</form>
