


<div class="row">
  <ng-container *ngIf="MediaCenterService$ |async as data">

    <div class="col-md-6 mb-4"  *ngFor="let item of data">
      <div class="img"  (click)="showVideoPreview(item)">
        <img
        [lazyLoad]=" 'http://hamad_api.accessline.ps'+ item?.ImagePath"
          class="img-fluid main-img"
          alt=""
          style=" object-fit: cover; height: 300px; border-radius: 6px;"
        />
        <div class="d-flex justify-content-between img-title">
          <p>{{ isEn ? item?.TitleEn : item?.TitleAr | slice:0:35 }} {{  isEn ? item?.TitleEn.length : item?.TitleAr.length > 35 ? '...' : '' }}</p>
        </div>
       <a class=" icon_video play-btn mb-4"></a>
      </div>
    </div>
  </ng-container>
</div>


<div class="video-modal vv">
  <p-dialog header="هذا النص هو مثال لنص يمكن أن يستبدل ..." [(visible)]="display" *ngIf="display" [modal]="true" [dismissableMask]="true"  [draggable]="false" [resizable]="false" [style]="{width: '50vw'}">
    <app-visual-stories-modal></app-visual-stories-modal>
  </p-dialog>

</div>
