
<div class="row">
  <ng-container *ngIf="MediaCenterService$ |async as data">
    <div class="col-md-6 mb-4"  *ngFor="let item of data">
      <div class="img"  (click)="showPhotosDetails(item)" routerLink="/mix-details/{{item.ID}}"
    >
        <img
        [lazyLoad]=" baseUrl+ item?.ImagePath"
          class="img-fluid main-img"
          alt=""
          style=" object-fit: cover; height: 300px; border-radius: 6px;"
        />
        <div class="d-flex justify-content-between img-title">
          <div>  <p>{{ item?.Title | slice:0:55 }} {{   item?.Title.length > 55 ? '...' : '' }}</p></div>
        </div>
      </div>
    </div>
  </ng-container>
</div>


<div class="video-modal vv">
  <p-dialog header="هذا النص هو مثال لنص يمكن أن يستبدل ..." [(visible)]="display" *ngIf="display" [modal]="true" [dismissableMask]="true"  [draggable]="false" [resizable]="false" [style]="{width: '50vw'}">
    <app-visual-stories-modal></app-visual-stories-modal>
  </p-dialog>

</div>
