<div class="row">
  <div class="col-md-10">
    <div class="title mt-md-0 mt-4 mb-3">
      <h3>الأهداف </h3>
      <p>لوريم ايبسوم هو نموذج افتراضي يوضع في الوريم ايبسوم هو نموذج افتراضي </p>
    </div>

    <div class="list my-3">
      <p>المريض أولا</p>
      <p>الجودة والسلامة</p>
      <p>التميز في تقديم الخدمة الطبية</p>
      <p>احترام خصوصية المرضى</p>
      <p>المصداقية والشفافية</p>
      <p>العمل بروح الفريق</p>
    </div>

    <p>
      لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في
      التصاميم لتعرض على العميل ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور
      طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي
    </p>
    <p>
      لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في
      التصاميم لتعرض على العميل ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور
    </p>

  </div>

</div>