.title h3 {
  color:#8a1538 ;
  border-right: 4px  solid #ed9b33;
  padding: 3px 10px;
  font-size: 22px;
  font-weight: 600;
  }
  .title p {
    font-size: 18px;
    color: #5E5E5F;
  }
.list p {
  position: relative;
  padding-right: 18px;
  font-weight: 600;
}
.list p:after{
  position: absolute;
  content: '';
  width: 11px;
  height: 11px;
background: #8a1538;
border-radius: 50%;
right: 0;
top: 30%;
}
