<section>
  <div class="container">
    <div class="section-header text-center">
      <div class="row">
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
        <div class="col-md-4 col-6">
          <h3 class="px-md-5 px-2">الأطراف الصناعية</h3>
        </div>
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
      </div>
    </div>

    <!--  -->
    <div class="row d-flex justify-content-center ">
      <div class="col-md-9 my-4">
        <ng-container *ngIf="Services$ |async as data" >
          <p >
            {{
              isEn
                ? data?.MedicalRehabilitationDescEn
                : data?.MedicalRehabilitationDescAr
            }}
          </p>
        </ng-container>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-9">
        <div class="tabel">
          <div class="header-tabel d-flex justify-content-center align-items-baseline text-center">
            <span> أولًا: </span>
            <h5 class="ps-1"> الاطراف الصناعية </h5>
          </div>
          <div class="row text-center">
            <div class="col-6 pt-3">
              <div class="body-title">
                الاطراف الصناعية السفلية
              </div>
              <div class="body-box">
                الاطراف الصناعية فوق الركبة
              </div>
              <div class="body-box">
                الاطراف الصناعية فوق الركبة
              </div>
              <div class="body-box">
                الاطراف الصناعية فوق الركبة
              </div>
              <div class="body-title pt-4">
                الاطراف الصناعية العلوية
              </div>
              <div class="body-box ">
                الاطراف الصناعية فوق الركبة
              </div>
            </div>
            <div class="col-6 pt-3">
              <div class="body-title">
                العمر
              </div>
              <div class="body-box">
                1-50 سنة
              </div>
              <div class="body-box">
                1-50 سنة
              </div>
              <div class="body-box">
                1-50 سنة
              </div>
              <div class="body-title pt-4">
                العمر
              </div>
              <div class="body-box">
                1-50 سنة
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 my-5">
        <div class="tabel">
          <div class="header-tabel d-flex justify-content-center align-items-baseline text-center">
            <span> أولًا: </span>
            <h5 class="ps-1"> الاجهز التعويضية </h5>
          </div>
          <div class="row text-center">
            <div class="col-4 pt-3">
              <div class="body-title">
                نوع الجهاز
              </div>
              <div class="body-box">
                لوريم ايبسوم هو نموذج افتراضي
              </div>
              <div class="body-box">
                لوريم ايبسوم هو نموذج افتراضي
              </div>
            </div>
            <div class="col-4 pt-3">
              <div class="body-title">
                نوع الجهاز
              </div>
              <div class="body-box">
                لوريم ايبسوم هو نموذج افتراضي
              </div>
              <div class="body-box">
                لوريم ايبسوم هو نموذج افتراضي
              </div>
            </div>
            <div class="col-4 pt-3">
              <div class="body-title">
                العمر
              </div>

              <div class="body-box" style="padding: 34px 7px;">
                جميع الاعمار
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 ">
        <div class="tabel">
          <div class="header-tabel d-flex justify-content-center align-items-baseline text-center">
            <span> أولًا: </span>
            <h5 class="ps-1"> أجهزة تقويم العمود الفقري </h5>
          </div>
          <div class="row text-center">
            <div class="col-6 pt-3 ">
              <div class="body-title">
                نوع الجهاز
              </div>
              <div class="body-box">
                لوريم ايبسوم هو نموذج افتراضي
              </div>
              <div class="body-box">
                لوريم ايبسوم هو نموذج افتراضي
              </div>
              <div class="body-box">
                لوريم ايبسوم هو نموذج افتراضي
              </div>
            </div>
            <div class="col-6 pt-3">
              <div class="body-title">
                العمر
              </div>
              <div class="body-box" style="padding: 62px 7px;">
                جميع الاعمار
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


<!-- table-borderless -->
<!-- <table class="table ">
  <thead>
    <tr>
      <th scope="col">نوع الجهاز</th>
      <th scope="col">العمر</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td rowspan="2">Larry the Bird</td>
    </tr>
    <tr>
      <td>Larry the Bird</td>
    </tr>

  </tbody>
</table> -->

<app-stories-home></app-stories-home>
<br>
<br>
