<section>
  <div class="container">
    <div class="section-header text-center">
      <div class="row">
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
        <div class="col-md-4 col-6">
          <h3 class="px-md-5 px-2">الأطراف الصناعية</h3>
        </div>
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
      </div>
    </div>

    <!--  -->
    <div class="row d-flex justify-content-center">
      <div class="col-md-9 my-4">
        <ng-container *ngIf="Services$ | async as data">
          <p>
            {{
              isEn
                ? data?.MedicalRehabilitationDescEn
                : data?.MedicalRehabilitationDescAr
            }}
          </p>
        </ng-container>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <!-- Test 552 78585 -->

      <ng-container *ngIf="Prosthetics$ | async "></ng-container>
      <ng-container *ngIf="ProstheticsTypes$ | async as data">
        <div class="col-md-9 mb-5" *ngFor="let item of data">
          <div class="tabel">
            <div
              class="header-tabel d-flex justify-content-center align-items-baseline text-center"

            >
              <h5 class="ps-1">
                {{ item.NameAr }}
              </h5>
            </div>
            <div class="row text-center"  *ngFor="let child of item?.children">
              <div class="col-6 pt-3">
                <div class="body-title">{{child.NameAr}}</div>

                <div class="body-box " *ngFor="let child2 of child?.children">{{child2.NameAr}}</div>

              </div>
              <div class="col-6 pt-3" >
               <div class="body-title">العمر</div>
                 <div class="body-box" *ngFor="let child2 of child?.children">{{child2.AgeAr}}</div>

              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <br />

    </div>
  </div>
</section>


<app-stories-home></app-stories-home>
<br />
<br />
