<section>
  <div class="container">
    <div class="section-header text-center">
      <div class="row">
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
        <div class="col-md-4 col-6">
          <h3 class="px-md-5 px-2">الأطراف الصناعية</h3>
        </div>
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
      </div>
    </div>

    <!--  -->
    <div class="row d-flex justify-content-center ">
      <div class="col-md-9 my-4">
        <p>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت
          تصاميم مطبوعه لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص
          بالتصاميم
          سواء كانت تصاميم مطبوعه </p>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-9">
        <div class="tabel">
          <div class="header-tabel d-flex justify-content-center align-items-baseline text-center">
            <span> أولًا: </span>
            <h5 class="ps-1"> الاطراف الصناعية </h5>
          </div>
          <div class="row text-center">
            <div class="col-6 pt-3">
              <div class="body-title">
                الاطراف الصناعية السفلية
              </div>
              <div class="body-box">
                الاطراف الصناعية فوق الركبة
              </div>
              <div class="body-box">
                الاطراف الصناعية فوق الركبة
              </div>
              <div class="body-box">
                الاطراف الصناعية فوق الركبة
              </div>
              <div class="body-title pt-4">
                الاطراف الصناعية العلوية
              </div>
              <div class="body-box ">
                الاطراف الصناعية فوق الركبة
              </div>
            </div>
            <div class="col-6 pt-3">
              <div class="body-title">
                العمر
              </div>
              <div class="body-box">
                1-50 سنة
              </div>
              <div class="body-box">
                1-50 سنة
              </div>
              <div class="body-box">
                1-50 سنة
              </div>
              <div class="body-title pt-4">
                العمر
              </div>
              <div class="body-box">
                1-50 سنة
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 my-5">
        <div class="tabel">
          <div class="header-tabel d-flex justify-content-center align-items-baseline text-center">
            <span> أولًا: </span>
            <h5 class="ps-1"> الاطراف الصناعية </h5>
          </div>
          <div class="row text-center">
            <div class="col-6 pt-3">
              <div class="body-title">
                الاطراف الصناعية السفلية
              </div>
              <div class="body-box">
                الاطراف الصناعية فوق الركبة
              </div>
              <div class="body-box">
                الاطراف الصناعية فوق الركبة
              </div>
              <div class="body-box">
                الاطراف الصناعية فوق الركبة
              </div>
              <div class="body-title pt-4">
                الاطراف الصناعية العلوية
              </div>
              <div class="body-box ">
                الاطراف الصناعية فوق الركبة
              </div>
            </div>
            <div class="col-6 pt-3">
              <div class="body-title">
                العمر
              </div>
              <div class="body-box">
                1-50 سنة
              </div>
              <div class="body-box">
                1-50 سنة
              </div>
              <div class="body-box">
                1-50 سنة
              </div>
              <div class="body-title pt-4">
                العمر
              </div>
              <div class="body-box">
                1-50 سنة
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 ">
        <div class="tabel">
          <div class="header-tabel d-flex justify-content-center align-items-baseline text-center">
            <span> أولًا: </span>
            <h5 class="ps-1"> الاطراف الصناعية </h5>
          </div>
          <div class="row text-center">
            <div class="col-6 pt-3">
              <div class="body-title">
                الاطراف الصناعية السفلية
              </div>
              <div class="body-box">
                الاطراف الصناعية فوق الركبة
              </div>
              <div class="body-box">
                الاطراف الصناعية فوق الركبة
              </div>
              <div class="body-box">
                الاطراف الصناعية فوق الركبة
              </div>
              <div class="body-title pt-4">
                الاطراف الصناعية العلوية
              </div>
              <div class="body-box ">
                الاطراف الصناعية فوق الركبة
              </div>
            </div>
            <div class="col-6 pt-3">
              <div class="body-title">
                العمر
              </div>
              <div class="body-box">
                1-50 سنة
              </div>
              <div class="body-box">
                1-50 سنة
              </div>
              <div class="body-box">
                1-50 سنة
              </div>
              <div class="body-title pt-4">
                العمر
              </div>
              <div class="body-box">
                1-50 سنة
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>