<section>
  <div class="container">
    <div class="section-header text-center">
      <div class="row">
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
        <div class="col-md-4 col-6">
          <h3 class="px-md-5 px-2">السمع والتوازن</h3>
        </div>
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="row d-flex justify-content-center">
      <div class="col-md-9 my-4">
        <ng-container *ngIf="Services$ | async as data">
          <p>
            {{
              isEn
                ? data?.MedicalRehabilitationDescEn
                : data?.MedicalRehabilitationDescAr
            }}
          </p>
        </ng-container>
      </div>
    </div>

    <!-- -------------------------------------------------- -->
    <hr />
    <div class="container main-body-box">
      <ng-container *ngIf="getOutpatientClinicsDepartments$ | async as data">
        <div class="row">
          <div class="col-md-3">
            <ng-container *ngFor="let item of data">
              <h3
                class="py-2 body-box"
                (click)="storeData(item)"
                [ngClass]="{ active: active == item.ID }"
              >
                {{ isEn ? item.NameEn : item.NameAr }}
              </h3>
            </ng-container>
          </div>
          <div class="col-md-9">
            <div class="content-box">
              <app-services-content></app-services-content>
            </div>
          </div>
        </div>
      </ng-container>
    </div>


  </div>
</section>

<app-stories-home></app-stories-home>
<br />
<br />
