<section>
  <div class="container">
    <div class="section-header text-center">
      <div class="row">
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
        <div class="col-md-4 col-6">
          <h3 class="px-md-5 px-2"> السمع والتوازن</h3>
        </div>
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
      </div>
    </div>

    <!--  -->
    <div class="row d-flex justify-content-center ">
      <div class="col-md-9 my-4">
        <ng-container *ngIf="Services$ |async as data">
          <p>
            {{
              isEn
                ? data?.MedicalRehabilitationDescEn
                : data?.MedicalRehabilitationDescAr
            }}
          </p>
        </ng-container>
      </div>
    </div>


    <!-- ------------------------------------ -->
<!-- <div class="row mb-5 justify-content-center">
  <div
    class="col-lg-4 col-md-6 col-12 d-flex align-items-stretch mt-4 mt-md-3"
    *ngFor="let item of HearingDepartemt$ | async"
  >
    <div class="icon-box">
      <div class="icon">
        <img
          [src]="'http://hamad_api.accessline.ps' + item?.IconPath"
          alt=""
        />
      </div>
      <div>
        <h4>{{ isEn ? item?.NameEn : item?.NameAr }}</h4>
        <p class="p-hide">
          {{ isEn ? item?.DescEn : item?.DescAr }}
        </p>
      </div>
    </div>
  </div>
</div> -->


<!-- -------------------------------------------------- -->


<ng-container *ngIf="getOutpatientClinicsDepartments$ | async as data">
  <ng-container *ngFor="let item of data">
    <hr />
         <div class="py-2 content-page">
          <h3>{{isEn ? item.NameEn : item.NameAr}}</h3>
          <div class="row"  >
            <ng-container *ngFor="let serivce of OutpatientClinicsDepartmentsServices$ | async">
              <ng-container *ngIf="item.ID == serivce.OutpatientClinicsDepartmentID">
                <div class="col-md-4"> <!--  [pTooltip]="isEn ? serivce?.DescEn : serivce?.DescAr"  tooltipPosition="top" [positionStyle]	="widthToolTip" -->
                  <div class="body-box"  >
                    {{ isEn ? serivce?.NameEn : serivce?.NameAr }}
                    <p class="text-center p-hide" style="font-size: 13px; padding-top: 8px;">{{isEn ? serivce?.DescEn : serivce?.DescAr}}</p>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
         </div>
  </ng-container>
</ng-container>

<hr />


<!-- -------------------------------------------------- -->

<!-------------------------------------- -->
     <!--
     delete
    <div class="row py-5 section-2" *ngIf="HearingServices$ | async as data">
      <div class="col-md-6">
        <img [src]=" 'http://hamad_api.accessline.ps'+ data?.HearingSectionImagePath" >
      </div>
    <div class="col-md-6">
      <div  [innerHTML]="isEn ? data?.HearingSectionEn : data?.HearingSectionAr "></div>
    </div>
    </div> -->

  </div>
</section>

<app-stories-home></app-stories-home>
<br />
<br />

