section{
  padding: 50px 0 70px 0;
  background-image: linear-gradient(#8a15387c, #000000d7), url(../../../assets/img/media-center.webp);

}

.section-title{
  span{
    color: #ffffff;
    border-right: 5px solid #ED9B33;
    padding-right: 8px;
    margin:10px 0 25px 0;
    display: inline-block;
  }
  h1{
    font-weight: 800;
   font-size: 22px;
   line-height: 32px;
   margin: 6px 0 10px 0;
   color: #fff;
  }
}
.main-img{
 left: 20px;
 bottom: 20px;

}
.img{
  cursor: pointer;
 box-shadow: 4px -41px 40px 6px rgba(0,0,0,0.56) inset;
 border-radius: 3px;
}
.img-title p {
font-size: 18px;
}
.img-title{
  margin-top: -42px;
  padding: 0 10px;
}
.img-title :is(span , p) {
  color: #fff;
}

.section-2{

  h2{
    font-size: 22px;
    font-weight: 700;
  }
    .line{
      width: 13px;
      height: 6px;
      background: #8a1538;
      color: #8a1538;
    }

}
.news{
  margin-top: 13vh;
}



.section-header h3 {
  color: #ffffff;
  position: relative;
  font-weight: 700;
}

.line {
  height: 4px;
  width: 100%;
  background: #ED9B33;
  display: inline-block;
}

.section-header h3 {
  font-size: 27px;
  font-weight: 700;
}

.section-header img {
  width: 50px;
    margin-bottom: 22px;
    -webkit-user-select: none;
    user-select: none;
}


