<section class="news">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div class="section-title">
          <span>تصنيف الخبر </span>
          <h1>وريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه لتعرض على العميل ليتصور طريقه
            لتعرض على العميل </h1>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center ">
      <div class="col-md-10 ">
        <img src="../../../../assets/img/visual-stories.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>

<div class="container py-5">
  <div class="section-2 d-flex align-items-center mb-2">
    <div class="line"> </div>
    <h2 class="d-inline-block ps-2">قصص نجاح </h2>
  </div>
  <div class="row">
    <div class="col-md-4 mt-md-0 mt-3">
      <div class="img">
        <img src="../../../../assets/img/video1.png" class="img-fluid main-img" alt="">
        <div class="d-flex justify-content-between img-title">
          <p>عنوان الفيديو</p>
          <span>03:30</span>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-md-0 mt-3">
      <div class="img">
        <img src="../../../../assets/img/video1.png" class="img-fluid main-img" alt="">
        <div class="d-flex justify-content-between img-title">
          <p>عنوان الفيديو</p>
          <span>03:30</span>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-md-0 mt-3">
      <div class="img">
        <img src="../../../../assets/img/video1.png" class="img-fluid main-img" alt="">
        <div class="d-flex justify-content-between img-title">
          <p>عنوان الفيديو</p>
          <span>03:30</span>
        </div>
      </div>
    </div>
  </div>

</div>
