<section class="breadcrumbs" style=" background: url(../../../assets/img/media-center.webp);padding: 50px 0;
text-align: center;

min-height: 40px;
color: #fff;
background-repeat: no-repeat;
background-size: cover;
margin-top: 14vh;">
  <div class="container">
    <h2>حول المستشفى</h2>
  </div>
</section>

<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="nav flex-column py-4">
          <ng-container *ngIf="AboutHospital$ | async as data">
            <li class="nav-item mb-2" *ngFor="let item of data" >
              <a class="nav-link" routerLink="/about-us/beginning" (click)="storeData(item)" [ngClass]="{ active: active == item.ID }"  >  {{ isEn ? item?.NameEn : item?.NameAr }}</a>
            </li>
          </ng-container>
        </ul>
      </div>

      <div class="col-md-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
