<form class="row g-3"[formGroup]="Form_AppointmentBooking" >
  <div class="col-md-6">

    <label>الاسم كامل <span>(مطلوب)</span></label>
    <input [class.is-invalid]="FullName?.invalid && FullName?.touched" formControlName="FullName" type="text" pInputText>
    <div *ngIf="FullName?.invalid && FullName?.touched">
    <small class="text-danger" *ngIf="FullName?.errors?.['required']"  >الاسم مطلوب</small>
    <small class="text-danger" *ngIf="FullName?.errors?.['minlength']" >الاسم يجب ان يكون على الاقل 5 حروف</small>
    </div>
  </div>
  <div class="col-md-6">
    <label>البريد الالكتروني </label>
    <input [class.is-invalid]="Email?.invalid && Email?.touched" formControlName="Email" type="email" pInputText>
<!--      <small [class.d-none]="Email?.valid || Email?.untouched"> يرجى ادخال الاميميل بشكل صحيح</small>
 -->     <div *ngIf="Email?.invalid && Email?.touched">
      <small class="text-danger" *ngIf="Email?.errors?.['email']" >يرجى ادخال الايميل بشكل صحيح</small>
      </div>
  </div>
  <div class="col-md-6">
    <label>رقم الموبايل <span>(مطلوب)</span></label>
    <input [class.is-invalid]="FullName?.invalid && FullName?.touched" formControlName="PhoneNumber" type="text" pInputText>
    <div *ngIf="PhoneNumber?.invalid && PhoneNumber?.touched">
      <small class="text-danger" *ngIf="PhoneNumber?.errors?.['required']"  >رقم الموبايل مطلوب</small>
      <small class="text-danger d-block " *ngIf="PhoneNumber?.errors?.['pattern']" >يرجى ادخال موبايل بشكل صحيح </small>
       <small class="text-danger" *ngIf="PhoneNumber?.errors?.['minlength'] ||PhoneNumber?.errors?.['maxlength']" >الرقم يجب ان يكون من 10ارقام </small>
      </div>
  </div>
  <div class="col-md-6">
    <label>العنوان بالكامل <span>(مطلوب)</span></label>
    <input [class.is-invalid]="FullName?.invalid && FullName?.touched" formControlName="Address" type="text" id="inputAddress" pInputText>
    <div *ngIf="Address?.invalid && Address?.touched">
      <small class="text-danger" *ngIf="Address?.errors?.['required']"  >العنوان مطلوب</small>
      </div>
  </div>
  <div class="col-md-6">
    <label>رقم الهوية <span>(مطلوب)</span></label>
    <input [class.is-invalid]="FullName?.invalid && FullName?.touched" formControlName="IdentityNumber" type="text" id="inputAddress" pInputText>
    <div *ngIf="IdentityNumber?.invalid && IdentityNumber?.touched">
      <small class="text-danger" *ngIf="IdentityNumber?.errors?.['required']"  >رقم الهوية مطلوب</small>
      <small class="text-danger d-block " *ngIf="IdentityNumber?.errors?.['pattern']" >رقم الهوية ارقام فقط </small>
       <small class="text-danger" *ngIf="IdentityNumber?.errors?.['minlength'] ||IdentityNumber?.errors?.['maxlength']" >الرقم يجب ان يكون من 9 ارقام </small>
      </div>
  </div>
  <div class="col-md-6">
    <label>طبيعة الزيارة <span>(مطلوب)</span></label>
    <ng-container *ngIf="Codes1$ |async as code">
      <p-dropdown [class.is-invalid]="FullName?.invalid && FullName?.touched" formControlName="VisitTypeID" [options]="code.data" [optionLabel]="'Name'"
      [optionValue]="'ID'" ></p-dropdown>
    </ng-container>
    <div *ngIf="VisitTypeID?.invalid && VisitTypeID?.touched">
      <small class="text-danger" *ngIf="VisitTypeID?.errors?.['required']"  >الحقل مطلوب</small>
      </div>

  </div>
  <div class="col-md-6">
    <label>التاريخ / الوقت المفضل للموعد <span>(مطلوب)</span></label>
    <p-calendar formControlName="Appointment" dateFormat="dd.mm.yy"></p-calendar>
    <div *ngIf="Appointment?.invalid && Appointment?.touched">
      <small class="text-danger" *ngIf="Appointment?.errors?.['required']"  >الحقل مطلوب</small>
      </div>
  </div>
  <div class="col-md-6">
    <label>القسم <span>(مطلوب)</span></label>
    <ng-container *ngIf="Codes2$ |async as code">
      <p-dropdown [class.is-invalid]="FullName?.invalid && FullName?.touched" formControlName="DepartmentID" [options]="code.data" [optionLabel]="'Name'"
      [optionValue]="'ID'" ></p-dropdown>
    </ng-container>
    <div *ngIf="DepartmentID?.invalid && DepartmentID?.touched">
      <small class="text-danger" *ngIf="DepartmentID?.errors?.['required']"  >الحقل مطلوب</small>
      </div>
  </div>
  <div class="col-12">
    <label>نص الرسالة</label>
    <textarea formControlName="TextMessage" [rows]="4" pInputTextarea></textarea>
  </div>
  <div class="col-12">
    <button formControlName="" pButton type="button" class="mb-2" (click)="saveAppointmentBooking()" label="إرسال"></button>
    <p-captcha
    siteKey="6LeeT7QmAAAAAEnHpRDr9oRQcPUNVQWv1D5_oSBv"
    initCallback="onloadCallback"
    (onResponse)="showResponse($event)"
  ></p-captcha>
  </div>
</form>
