<!-- Stores -->
<section class="stores">
  <div class="section-header text-center">
    <h3 class="px-md-5 px-2"> قصص ملهمة !<img src="../../../assets/img/05.svg" alt=""></h3>
  </div>
  <div class="container">
    <div class="section-title">
      <h4>قصص فيديو</h4>
      <div class="line"></div>
      <div class="d-flex justify-content-between mt-2">
        <p>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل </p>
        <a href="#">شاهد المزيد</a>
      </div>
    </div>
    <!-- row  -->
    <div class="row align-items-stretch">
      <div class="col-md-8 d-flex align-items-stretch pb-5">
        <img src="../../../assets/img/video.webp" routerLink="/visual-stories-details"
          routerLinkActive="router-link-active" class="img-fluid" alt="">
      </div>
      <div class="col-md-4 d-flex align-items-stretch">
        <div class="row">
          <div class="col-md-12 col-6">
            <figure routerLink="/visual-stories-details">
              <img src="../../../assets/img/video.webp" class="img-fluid" alt="">
              <figcaption>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل</figcaption>
            </figure>
          </div>
          <div class="col-md-12 col-6">
            <figure>
              <img routerLink="/visual-stories-details" src="../../../assets/img/video.webp" class="img-fluid" alt="">
              <figcaption>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل</figcaption>
            </figure>
          </div>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
  <!-- قصص مكتوبة -->
  <div class="container mt-4">
    <div class="section-title">
      <h4>قصص مكتوبة</h4>
      <div class="line"></div>
      <div class="d-flex justify-content-between mt-2">
        <p>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل </p>
        <a href="#">شاهد المزيد</a>
      </div>
    </div>
    <!-- row  -->
    <div class="row align-items-stretch">
      <div class="col-md-8 d-flex align-items-stretch pb-5">
        <img routerLink="/written-stories-details" src="../../../assets/img/story.webp" class="img-fluid" alt="">
      </div>
      <div class="col-md-4 d-flex align-items-stretch">
        <div class="row">
          <div class="col-md-12 col-6">
            <figure>
              <img routerLink="/written-stories-details" src="../../../assets/img/story.webp" class="img-fluid" alt="">
              <figcaption>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل</figcaption>
            </figure>
          </div>
          <div class="col-md-12 col-6">
            <figure>
              <img routerLink="/written-stories-details" src="../../../assets/img/story.webp" class="img-fluid" alt="">
              <figcaption>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل</figcaption>
            </figure>
          </div>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>

</section>
