<!-- Stores -->
<section class="stores">
  <div class="section-header text-center">
    <h3 class="px-md-5 px-2 mb-0">
      قصص ملهمة !<img src="../../../assets/img/05.svg" alt="" />
    </h3>
  </div>
  <div class="container">
    <div class="section-title">
      <h4>قصص فيديو</h4>
      <div class="line"></div>
      <div class="d-flex justify-content-end " style="margin-top: -12px;">
        <a routerLink="/media-center/video/video-main">شاهد المزيد</a>
      </div>
    </div>
    <!-- row -->
    <ng-container *ngIf="MediaSectionsItemsVideo$ | async as data">
      <div class="row align-items-stretch">
          <div
            class="col-md-3 img pb-3" *ngFor="let item of data.slice(-4)"
            (click)="showVideoPreview(item)"
          >
            <div style="width: 100%">
              <img
                [lazyLoad]="'http://hamad_api.accessline.ps' + item?.ImagePath"
                style="width: 100%; height: 80% ; border-radius: 6px;"
                class="img-fluid"
                alt=""
              />
              <p style="color: #fff ; margin-bottom: 4px;">
                {{ isEn ? item?.Title : (item?.Title | slice : 0 : 40) }}
                {{
                  isEn
                    ? item?.Title?.length
                    : item?.Title?.length > 40
                    ? "..."
                    : ""
                }}
              </p>
            </div>
            <a class=" icon_video play-btn mb-4"></a>
          </div>
      </div>
    </ng-container> -
  </div>
  <!-- قصص مكتوبة -->
  <div class="container write-sory">
    <div class="section-title">
      <h4>قصص صحفية</h4>
      <div class="line"></div>
      <div class="d-flex justify-content-end "style="margin-top: -12px;">
        <a routerLink="/media-center/press-stories">اقرأ المزيد</a>
      </div>
    </div>
    <!-- row  -->
    <ng-container *ngIf="MediaSectionsItemsStory$ | async as data">
      <div class="row align-items-stretch">
          <div
            class="col-md-3 img pb-3" *ngFor="let item of data.slice(-4)"
            (click)="showPhotosDetails(item)"
          >
            <div style="width: 100%">
              <img
                [lazyLoad]="'http://hamad_api.accessline.ps' + item?.ImagePath"
                style="width: 100%; height: 80% ; border-radius: 6px;"
                class="img-fluid"
                alt=""
                routerLink="/written-stories-details/{{item?.ID}}"
              />
              <p style=" color: #fff; margin-bottom: 4px;">
                {{ isEn ? item?.Title : (item?.Title | slice : 0 : 40) }}
                {{
                  isEn
                    ? item?.Title.length
                    : item?.Title.length > 40
                    ? "..."
                    : ""
                }}
              </p>
            </div>
          </div>
      </div>
    </ng-container>
  </div>
</section>

<div class="video-modal">

  <p-dialog header="هذا النص هو مثال لنص يمكن أن يستبدل ..." [(visible)]="display" [modal]="true" [dismissableMask]="true"  [draggable]="false" [resizable]="false" [style]="{width: '47vw' , height: '28vw'}">
    <app-video-preview-modal></app-video-preview-modal>
  </p-dialog>
</div>

