<div class="hero home-carosal" id="section0">
    <owl-carousel-o [options]="customOptions">
    <ng-container *ngIf="LandingPageData$ | async as data">
      <ng-template carouselSlide *ngFor="let item of data?.HeaderSlider">
        <div
          class="img"
          style="  background-image: linear-gradient(rgba(0, 0, 0, 0.137), rgba(0, 0, 0, 0.097)), url({{baseUrl}}{{
            item?.ImagePath
          }});"
         >
          <ng-container *ngIf="item.ShowTitle">
            <div class="container d-flex justify-content-center">

              <div (click)="openLink(item)" class="content" [ngStyle]="{'background-color': item.TitleBackgroundColor ? item.TitleBackgroundColor : 'transparent'}" >
                <ng-container
                  *ngIf="MediaCenterServiceNews$ | async as news">
                  <p class="mb-1">{{ item.Title }}</p>
                  <ng-container *ngFor="let item_2 of news">
                    <ng-container *ngIf="item_2.ID == 0">
                      <a (click)="showNews(item_2)"> </a>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </div>

            </div>
          </ng-container>
        </div>
      </ng-template>

    </ng-container>
  </owl-carousel-o>
</div>

<!-- <button
  ngxScrollTo
  [ngxScrollToOffset]="770">
  <i class="pi pi-chevron-down"></i>
</button>
 -->
<div class="video-modal">
  <p-dialog
    header="هذا النص هو مثال لنص يمكن أن يستبدل ..."
    [(visible)]="display"
    [modal]="true"
    [dismissableMask]="true"
    [draggable]="false"
    [resizable]="false"
    [style]="{ width: '46vw', height: '28vw' }"
  >
    <app-video-preview-slider></app-video-preview-slider>
  </p-dialog>
</div>
<div id="scroll-down-animation" ngxScrollTo [ngxScrollToOffset]="680">
  <span class="mouse">
    <span class="move"></span>
  </span>
</div>

<!-- <button><i class="pi pi-chevron-up"></i></button>
 -->

<section class="about" id="section1">
  <div class="container">
    <div class="section-header text-center mb-4">
      <div class="row">
        <div class="col-md-4 col-2">
          <span class="line"></span>
        </div>
        <div class="col-md-4 col-8">
          <h3 class="px-md-5 px-2">  {{ isEn ? 'About hospital' : 'عن المستشفى' }}</h3>
        </div>
        <div class="col-md-4 col-2">
          <span class="line"></span>
        </div>
      </div>
    </div>
    <ng-container *ngIf="LandingPageData$ | async as data">
      <div class="row justify-content-center mb-4">
        <div class="col-md-9 col-sm-6 col-12 text-center">
          <p style="font-weight: 600; line-height: 28px">
            {{ data?.MainInfo?.About }}
          </p>
        </div>
      </div>
      <div class="row">
        <div
          class="col-lg-3 col-md-4 col-6 pe-md-0 d-flex align-items-stretch mt-4 mt-lg-0"
        >
          <a routerLink="/sections/medical-rehabilitation" style="width: 100%">
            <div class="icon-box border-right">
              <div class="icon">
                <img
                  [src]="avatar + data?.Services?.MedicalRehabilitationIconPath"
                  alt=""
                />
                <img src="../../../assets/img/04.svg" alt="" />
              </div>
              <h4> {{ isEn ? 'Medical rehabilitation' : 'التأهيل الطبي' }}</h4>
              <p class="p-hide">
                {{ data?.Services?.MedicalRehabilitationDesc }}
              </p>
            </div>
          </a>
        </div>
        <div
          class="col-lg-3 col-md-4 col-6 px-md-0 d-flex align-items-stretch mt-4 mt-lg-0"
        >
          <a routerLink="/sections/prosthetics" style="width: 100%">
            <div class="icon-box">
              <div class="icon">
                <img
                  [src]="avatar + data?.Services?.ProstheticsIconPath"
                  alt=""
                />
                <img src="../../../assets/img/03.svg" alt="" />
              </div>
              <h4> {{ isEn ? 'Prosthetics' : 'الأطراف الصناعية' }}   </h4>
              <p class="p-hide">
                {{ data?.Services?.ProstheticsDesc }}
              </p>
            </div>
          </a>
        </div>
        <div
          class="col-lg-3 col-md-4 col-6 px-md-0 d-flex align-items-stretch mt-4 mt-lg-0"
        >
          <a routerLink="/sections/hearing-balance" style="width: 100%">
            <div class="icon-box">
              <div class="icon">
                <img [src]="avatar + data?.Services?.HearingIconPath" alt="" />
                <img src="../../../assets/img/02.svg" alt="" />
              </div>
              <h4>   {{ isEn ? 'Hearing and balance' : 'السمع والتوازن' }} </h4>
              <p class="p-hide">
                {{ data?.Services?.HearingDesc }}
              </p>
            </div>
          </a>
        </div>

        <div
          class="col-lg-3 col-md-4 ps-md-0 col-6 d-flex align-items-stretch mt-4 mt-lg-0"
        >
          <a routerLink="/sections/outpatient-clinics" style="width: 100%">
            <div class="icon-box bordr-left">
              <div class="icon">
                <img
                  [src]="avatar + data?.Services?.OutpatientClinicsIconPath"
                  alt=""
                />
                <img src="../../../assets/img/01.svg" alt="" />
              </div>
              <h4>  {{ isEn ? 'Outpatient clinic' : 'العيادة الخارجية' }}   </h4>
              <p class="p-hide">
                {{ data?.Services?.OutpatientClinicsDesc }}
              </p>
            </div>
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</section>
<!-- -------------------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------------------- -->
<div class="video-modal">
  <p-dialog
    header="هذا النص هو مثال لنص يمكن أن يستبدل ..."
    [(visible)]="displayCards"
    [modal]="true"
    [dismissableMask]="true"
    [draggable]="false"
    [resizable]="false"
    [style]="{ width: '46vw', height: '28vw' }"
  >
    <app-video-preview-modal></app-video-preview-modal>
  </p-dialog>
</div>

<!-- Stores -->
<section class="stores" id="section2">
  <div class="section-header text-center">
    <h3 class="px-md-5 px-2 text-white mb-0">{{ isEn ? 'video gallery' : 'معرض الفيديو' }} </h3>
  </div>
  <div class="container">
    <div class="section-title">
      <div class="d-flex justify-content-end mb-0">
        <a
          routerLink="/media-center/video/video-main"
          (click)="addAvtiveNaveBar()">
          {{ isEn ? 'See more' : 'شاهد المزيد' }} </a>
      </div>
      <div class="line d-block mb-2"></div>
    </div>
    <!-- row -->
    <ng-container *ngIf="MediaSectionsItemsVideo$ | async as data">
      <div class="row">
        <div class="col-lg-8 img" (click)="showVideoPreview(data[0])">
          <div style="width: 100%; object-fit: cover" class="post-img">
            <img
              [lazyLoad]="baseUrl + data[0]?.ImagePath"
              class="img-fluid"
              alt=""
            />
            <img
              src="../../../assets/img/video.mp4"
              class="video-icon"
              alt=""
            />
            <p style="color: #fff">
              {{ isEn ? data[0]?.Title : data[0]?.Title }}
            </p>
          </div>
          <a class="icon_video play-btn mb-4"></a>
        </div>
        <div class="col-lg-4">
          <div class="row">
            <div class="col-12 img" (click)="showVideoPreview(data[1])">
              <figure style="width: 100%">
                <img
                  [lazyLoad]="
                    baseUrl + data[1]?.ImagePath
                  "
                  class="img-fluid Video-img"
                  class="img-fluid"
                  alt=""
                />
                <figcaption>
                  {{ isEn ? data[1]?.Title : data[1]?.Title }}
                </figcaption>
              </figure>
              <a class="icon_video play-btn mb-4"></a>
            </div>
            <div class="col-12 img" (click)="showVideoPreview(data[2])">
              <figure style="width: 100%">
                <img
                  [lazyLoad]="
                    baseUrl + data[2]?.ImagePath
                  "
                  class="img-fluid Video-img"
                  class="img-fluid"
                  alt=""
                />
                <figcaption>
                  {{ isEn ? data[2]?.Title : data[2]?.Title }}
                </figcaption>
              </figure>
              <a class="icon_video play-btn mb-4"></a>
            </div>
          </div>
          <div></div>
        </div>
      </div>
    </ng-container>


  </div>
</section>

<div class="section text-start" style="padding: 80px 0 10px 0">
  <div class="container mt-4">
    <div class="section-header text-center">
      <h3 class="px-md-5 px-2 mb-0"> {{ isEn ? 'Press stories' : 'قصص صحفية' }}  </h3>
    </div>
    <div class="section-title">
      <div class="d-flex justify-content-end mb-2">
        <a
          routerLink="/media-center/press-stories"
          style="cursor: pointer; color: #8a1538"
          (click)="addAvtiveNaveBar()">
          {{ isEn ? 'Read more' : 'اقرأ المزيد' }}
          </a
        >
      </div>
      <div class="line d-block mb-3" style="height: 3px"></div>
    </div>
    <ng-container *ngIf="MediaSectionsSuceessStoryHome$ | async as data">
      <div class="row">
        <div
          class="col-md-4 img pb-3 d-flex align-items-stretch"
          (click)="showPhotosDetails(data[0]); addAvtiveNaveBar()"
        >
          <div
            style="width: 100%; cursor: pointer"
            routerLink="/mix-details/{{ data[0]?.ID }}"
            class="press-stories"
          >
            <div class="post-img">
              <img
                [lazyLoad]="
                  baseUrl + data[0]?.ImagePath
                "
                class="img-fluid"
                alt=""
              />
            </div>
            <p class="text-dir">
              {{data[0]?.Title }}
            </p>
          </div>
        </div>
        <div
          class="col-md-4 img pb-3 d-flex align-items-stretch"
          (click)="showPhotosDetails(data[1]); addAvtiveNaveBar()"
        >
          <div
            style="width: 100%; cursor: pointer"
            routerLink="/mix-details/{{ data[1]?.ID }}"
            class="press-stories"
          >
            <div class="post-img">
              <img
                [lazyLoad]="
                  baseUrl + data[1]?.ImagePath
                "
                class="img-fluid"
                alt=""
              />
            </div>

            <p class="text-dir">
              {{data[1]?.Title }}
            </p>
          </div>
        </div>
        <div
          class="col-md-4 img pb-3 d-flex align-items-stretch"
          (click)="showPhotosDetails(data[2]); addAvtiveNaveBar()"
        >
          <div
            style="width: 100%; cursor: pointer"
            routerLink="/mix-details/{{ data[2]?.ID }}"
            class="press-stories"
          >
            <div class="post-img">
              <img
                [lazyLoad]="
                  baseUrl + data[2]?.ImagePath
                "
                class="img-fluid"
                alt=""
              />
            </div>
            <p class="text-dir">
              {{data[2]?.Title }}
            </p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!------------------------------------------------------------------------------------------------------>

<section class="news" id="section4" style="padding: 55px 0 80px 0">
  <div class="container">
    <div class="row gy-4">
      <ng-container *ngIf="LastNews$ | async as data">
        <div class="col-md-8">
          <!--  d-flex align-items-stretch -->
          <div class="section-title">
            <h4
              routerLink="/media-center/news/news-main"
              style="cursor: pointer"
              (click)="addAvtiveNaveBar()"
            >
            {{ isEn ? 'News' : 'الأخبار' }}


            </h4>
          </div>
          <div class="row box">
            <!--  <ng-container *ngFor="let item of data">  </ng-container> -->
            <div class="col-md-6">
              <div
                class="post-box"
                (click)="showNews(data[0]); addAvtiveNaveBar()"
                routerLink="/mix-details/{{ data[0]?.ID }}"
              >
                <div class="post-img">
                  <img
                    [lazyLoad]="
                      baseUrl + data[0]?.ImagePath
                    "
                  />
                </div>
                <div
                  class="d-flex justify-content-between align-items-baseline mb-1"
                >
                  <ng-container *ngIf="data[0]?.MainServiceID === 1">
                    <span class="categories">{{ isEn ? 'Medical rehabilitation' : 'التأهيل الطبي' }}</span>
                  </ng-container>
                  <ng-container *ngIf="data[0]?.MainServiceID === 2">
                    <span class="categories"> {{ isEn ? 'Prosthetics' : 'الأطراف الصناعية' }}</span>
                  </ng-container>
                  <ng-container *ngIf="data[0]?.MainServiceID === 3">
                    <span class="categories">{{ isEn ? 'Hearing and balance' : 'السمع والتوازن' }}</span>
                  </ng-container>
                  <ng-container *ngIf="data[0]?.MainServiceID === 4">
                    <span class="categories">{{ isEn ? 'Outpatient clinic' : 'العيادة الخارجية' }}</span>
                  </ng-container>
                  <ng-container *ngIf="data[0]?.MainServiceID === 5">
                    <span class="categories">
                      {{ isEn ? 'News' : 'الأخبار' }}
                      </span>
                  </ng-container>

                  <span class="post-date">{{ data[0]?.ItemDate | date }}</span>
                </div>
                <h3 class="post-title">
                  {{ isEn ? data[0]?.Title : data[0]?.Title }}
                </h3>
              </div>
            </div>

            <div class="col-md-6 mt-md-0 mt-3">
              <div class="titlis-box">
                <p
                  style="cursor: pointer"
                  routerLink="/media-center/news/news-main">
                  <strong>{{ isEn ? 'Read more' : 'اقرأ المزيد' }}</strong>

                </p>
                <ng-container *ngFor="let item of data.slice(1, 4)">
                  <a
                    routerLink="/mix-details/{{ item.ID }}"
                    (click)="showNews(item); addAvtiveNaveBar()"
                    class="title"
                    >{{ item.Title }}
                    <i class="fa-solid fa-arrow-left-long ps-1"></i>
                  </a>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <!-- قسم منوعات -->
      <div class="col-md-4 flex-column">
        <!--  d-flex align-items-stretch -->
        <div
          class="section-title mb-2"
          *ngIf="LandingPageData$ | async as data"
        >
          <h4
            routerLink="/media-center/mix"
            style="cursor: pointer"
            (click)="addAvtiveNaveBar()"
          >
            {{ data?.MainInfo?.HomeVariousTitle }}
          </h4>
        </div>

        <div class="news-box2">
          <ng-container *ngIf="MediaSectionsItemsLastVarious$ | async as data">
            <div
              class="post-box"
              style="border-radius: 8px"
              (click)="showNews(data[0]); addAvtiveNaveBar()"
              routerLink="/mix-details/{{ data[0]?.ID }}"
            >
              <div class="post-img">
                <img
                  style="height: auto"
                  [lazyLoad]="
                    baseUrl + data[0]?.ImagePath
                  "
                />
              </div>
              <div
                class="d-flex justify-content-between align-items-baseline mb-1"
              >
                <ng-container *ngIf="data[0]?.MainServiceID === 1">
                  <span class="categories">{{ isEn ? 'Medical rehabilitation' : 'التأهيل الطبي' }}</span>
                </ng-container>
                <ng-container *ngIf="data[0]?.MainServiceID === 2">
                  <span class="categories"> {{ isEn ? 'Prosthetics' : 'الأطراف الصناعية' }}</span>
                </ng-container>
                <ng-container *ngIf="data[0]?.MainServiceID === 3">
                  <span class="categories">{{ isEn ? 'Hearing and balance' : 'السمع والتوازن' }}</span>
                </ng-container>
                <ng-container *ngIf="data[0]?.MainServiceID === 4">
                  <span class="categories">{{ isEn ? 'Outpatient clinic' : 'العيادة الخارجية' }}</span>
                </ng-container>
                <ng-container *ngIf="data[0]?.MainServiceID === 5">
                  <span class="categories">{{ isEn ? 'News' : 'الأخبار' }}</span>
                </ng-container>
                <span class="post-date">{{ data[0]?.ItemDate | date }}</span>
              </div>
              <h3 class="post-title">
                {{ isEn ? data[0]?.TitleEn : data[0]?.TitleAr }}
              </h3>
              <a
                routerLink="/mix-details/{{ data[0]?.ID }}"
                class="readmore mt-auto d-flex align-items-baseline"
                ><span>{{ isEn ? 'Read more' : 'اقرأ المزيد' }}</span
                ><i class="fa-solid fa-arrow-left-long ps-1"></i>
              </a>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- employment-Ad -->
<div class="employment-ad" id="section5">
  <div class="container">
    <div
      class="section-title mb-2 d-flex justify-content-between align-items-center">
      <h4 routerLink="/ads">{{ isEn ? 'Advertisements' : 'الإعلانات' }}</h4>
      <span routerLink="/ads" class="read_more">{{ isEn ? 'Read more' : 'اقرأ المزيد' }}</span>
    </div>
  </div>
  <div class="container background">
    <div class="row d-flex justify-content-center text-center align-items-center">
      <div
        class="col-md-9"
        *ngIf="LandingPageData$ | async as data"
      >
       <!--  <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let item of data?.Advertisements">
            <div class="text-center">
              <p>
                {{ item?.Title }}
              </p>
              <a routerLink="/ads-details/{{ item.ID }}">{{ item?.ButtonTitle}} </a>
            </div>
          </ng-template>
        </owl-carousel-o> -->
        <!--  -->
        <p-galleria [dir]="'rtl'" [numVisible]="data?.Advertisements?.length" [circular]="true" [value]="data?.Advertisements"[autoPlay]="true" [showIndicators]="true" [showItemNavigators]="false"  > <!-- [ngClass]="{'onePHoto': Imagedata?.length >= 1}" -->


          <ng-template pTemplate="item" let-item >
            <p>
              {{ item?.Title }}
            </p>
            <a routerLink="/ads-details/{{ item.ID }}">{{ item?.ButtonTitle}} </a>

          </ng-template>



        </p-galleria>

        <!--  -->
      </div>
    </div>
  </div>
</div>


