<div class="hero">
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngIf="LandingPageData$ | async as data">
      <ng-template carouselSlide *ngFor="let item of data?.HeaderSlider">
        <div
          class="img"
          style="  background-image: linear-gradient(rgba(0, 0, 0, 0.137), rgba(0, 0, 0, 0.097)), url(http://hamad_api.accessline.ps{{
            item?.ImagePath
          }});"
        >
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-7 col-10">
                <div class="content">

                <!--   <a  routerLink="{{item?.Link.substring(21)}}" (click)="showNews(item)" > <p>{{ item.Title }} </p></a> -->
<!-- *ngIf="item_2.ID  == item.Link " -->
                <!--  <p>{{ item.Title }} </p>  --><!--  [href]="item?.Link" -->
                 <ng-container *ngIf="MediaCenterServiceNews$ | async as news">
                  <ng-container *ngFor="let item_2 of news">
                   <ng-container >
                    <a  [routerLink]="item?.Link" (click)="showNews(item_2)" > <p>{{ item.Title }} </p></a>
                  </ng-container>
                  </ng-container>
                </ng-container>
                 </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
<section class="about">
  <div class="container">
    <div class="section-header text-center mb-4">
      <div class="row">
        <div class="col-md-4 col-2">
          <span class="line"></span>
        </div>
        <div class="col-md-4 col-8">
          <h3 class="px-md-5 px-2">الأقسام الرئيسية</h3>
        </div>
        <div class="col-md-4 col-2">
          <span class="line"></span>
        </div>
      </div>
    </div>
    <ng-container *ngIf="LandingPageData$ | async as data">
      <div class="row justify-content-center mb-4">
        <div class="col-md-9 col-sm-6 col-12 text-center">
          <p style="font-weight: 600; line-height: 28px">
            {{ data?.MainInfo?.About }}
          </p>
        </div>
      </div>
      <div class="row">
        <div
          class="col-lg-3 col-md-4 col-sm-6 col-12 d-flex align-items-stretch mt-4 mt-lg-0"
        >
          <a routerLink="/sections/medical-rehabilitation">
            <div class="icon-box">
              <div class="icon">
                <img
                  [src]="avatar + data?.Services?.MedicalRehabilitationIconPath"
                  alt=""
                />
                <img src="../../../assets/img/04.svg" alt="" />
              </div>
              <h4>التأهيل الطبي</h4>
              <p>
                {{ data?.Services?.MedicalRehabilitationDesc }}
              </p>
            </div>
          </a>
        </div>
        <div
          class="col-lg-3 col-md-4 col-sm-6 col-12 d-flex align-items-stretch mt-4 mt-lg-0"
        >
          <a routerLink="/sections/prosthetics">
            <div class="icon-box">
              <div class="icon">
                <img
                  [src]="avatar + data?.Services?.ProstheticsIconPath"
                  alt=""
                />
                <img src="../../../assets/img/03.svg" alt="" />
              </div>
              <h4>الاطراف الصناعية</h4>
              <p>
                {{ data?.Services?.ProstheticsDesc }}
              </p>
            </div>
          </a>
        </div>

        <div
          class="col-lg-3 col-md-4 col-sm-6 col-12 d-flex align-items-stretch mt-4 mt-lg-0"
        >
          <a routerLink="/sections/hearing-balance">
            <div class="icon-box">
              <div class="icon">
                <img [src]="avatar + data?.Services?.HearingIconPath" alt="" />
                <img src="../../../assets/img/02.svg" alt="" />
              </div>
              <h4>السمع والتوازن</h4>
              <p>
                {{ data?.Services?.HearingDesc }}
              </p>
            </div>
          </a>
        </div>

        <div
          class="col-lg-3 col-md-4 col-sm-6 col-12 d-flex align-items-stretch mt-4 mt-lg-0"
        >
          <a routerLink="/sections/outpatient-clinics">
            <div class="icon-box">
              <div class="icon">
                <img
                  [src]="avatar + data?.Services?.OutpatientClinicsIconPath"
                  alt=""
                />
                <img src="../../../assets/img/01.svg" alt="" />
              </div>
              <h4>العيادة الخارجية</h4>
              <p>
                {{ data?.Services?.OutpatientClinicsDesc }}
              </p>
            </div>
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</section>
<!-- -------------------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------------------- -->
<div class="video-modal">
  <p-dialog header="هذا النص هو مثال لنص يمكن أن يستبدل ..." [(visible)]="display" *ngIf="display" [modal]="true" [dismissableMask]="true"  [draggable]="false" [resizable]="false" [style]="{width: '47vw' , height: '28vw'}">
    <app-video-preview-modal></app-video-preview-modal>
  </p-dialog>
</div>

<!-- Stores -->
<section class="stores" >
  <div class="section-header text-center">
    <h3 class="px-md-5 px-2 text-white"> قصص ملهمة !<img src="../../../assets/img/05.svg" alt=""></h3>
  </div>
  <div class="container">
    <div class="section-title">
      <h4>قصص فيديو</h4>
      <div class="line"></div>
       <div class="d-flex justify-content-end mb-3">
        <a  routerLink="/media-center/video/video-main" >شاهد المزيد</a>
      </div>
    </div>
    <!-- row -->
    <ng-container *ngIf="MediaCenterService$ |async as data">
    <div class="row align-items-stretch">
      <div class="col-md-8 d-flex align-items-stretch "  (click)="showVideoPreview(data[1])" >
        <div >
            <img [src]=" 'http://hamad_api.accessline.ps'+ data[1]?.ImagePath" style="width: 100%; height: 94%; border-radius: 6px;" class="img-fluid main-img"
            class="img-fluid" alt="">
           <img src="../../../assets/img/video.mp4" class="video-icon" alt="">
           <p style="color: #fff;">{{ isEn ? data[1]?.TitleEn : data[1]?.TitleAr  | slice:0:80 }} {{  isEn ? data[1]?.TitleEn.length : data[1]?.TitleAr.length > 80 ? '...' : '' }} </p>
        </div>

      </div>
      <div class="col-md-4 d-flex align-items-stretch">
        <div class="row">
          <div class="col-md-12 col-6" (click)="showVideoPreview(data[0])">
            <figure >
              <img [src]=" 'http://hamad_api.accessline.ps'+ data[0]?.ImagePath" style="width: 100%; height: 90%;" class="img-fluid"
           class="img-fluid" alt="">
              <figcaption>{{ isEn ? data[0]?.TitleEn : data[0]?.TitleAr  | slice:0:35 }} {{  isEn ? data[0]?.TitleEn.length : data[0]?.TitleAr.length > 35 ? '...' : '' }}</figcaption>
            </figure>
          </div>
          <div class="col-md-12 col-6" (click)="showVideoPreview(data[2])">
            <figure>
              <img [src]=" 'http://hamad_api.accessline.ps'+ data[2]?.ImagePath" style="width: 100%;height: 90%;" class="img-fluid"
              class="img-fluid" alt="">
              <figcaption>{{ isEn ? data[2]?.TitleEn : data[2]?.TitleAr  | slice:0:35 }} {{  isEn ? data[2]?.TitleEn.length : data[2]?.TitleAr.length > 35 ? '...' : '' }}</figcaption>
            </figure>
          </div>
        </div>
        <div>
        </div>
      </div>
    </div>
  </ng-container>
  </div>
  <!-- قصص مكتوبة -->
  <div class="container mt-4">
    <div class="section-title">
      <h4>قصص صحفية</h4>
      <div class="line"></div>
      <div class="d-flex justify-content-end mb-3">
        <a  routerLink="/media-center/visual-stories" >شاهد المزيد</a>
      </div>
    </div>
    <!-- row  -->
    <ng-container *ngIf="MediaCenterService2$ |async as data">
      <div class="row align-items-stretch">
        <div class="col-md-8 d-flex align-items-stretch"  (click)="showPhotosDetails(data[1])" >
          <div style="width: 100%;">
          <img [src]=" 'http://hamad_api.accessline.ps'+ data[1]?.ImagePath"  style="width: 100%; height: 94%; border-radius: 6px;" class="img-fluid" routerLink="/written-stories-details/{{data[1]?.ID}}"
             class="img-fluid" alt="">
             <p style="color: #fff;">{{ isEn ? data[1]?.TitleEn : data[1]?.TitleAr  | slice:0:40 }} {{  isEn ? data[1]?.TitleEn.length : data[1]?.TitleAr.length > 40 ? '...' : '' }} </p>
          </div>

        </div>
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="row">
            <div class="col-md-12 col-6" (click)="showPhotosDetails(data[0])">
              <figure routerLink="/written-stories-details">
                <img [src]=" 'http://hamad_api.accessline.ps'+ data[0]?.ImagePath" style="width: 100%; height: 100%;" class="img-fluid" routerLink="/written-stories-details/{{data[0]?.ID}}"
             class="img-fluid" alt="">
                <figcaption>{{ isEn ? data[0]?.TitleEn : data[0]?.TitleAr  | slice:0:35 }} {{  isEn ? data[0]?.TitleEn.length : data[0]?.TitleAr.length > 35 ? '...' : '' }}</figcaption>
              </figure>
            </div>
            <div class="col-md-12 col-6" (click)="showPhotosDetails(data[2])">
              <figure>
                <img [src]=" 'http://hamad_api.accessline.ps'+ data[2]?.ImagePath" style="width: 100%; height: 100%;" class="img-fluid" routerLink="/written-stories-details/{{data[2]?.ID}}"
                class="img-fluid" alt="">
                <figcaption>{{ isEn ? data[2]?.TitleEn : data[2]?.TitleAr  | slice:0:35 }} {{  isEn ? data[2]?.TitleEn.length : data[2]?.TitleAr.length > 35 ? '...' : '' }}</figcaption>
              </figure>
            </div>
          </div>
          <div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

</section>


<!-- -------------------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------------------- -->

<!-- news -->
  <!--   <a routerLink="/media-center/news/news-main">
            عرض الكل <i class="fa-solid fa-arrow-left-long ps-1"></i
          ></a>

          <div class="section-title mb-2">
      <div class="row">
        <div class="col-6">
          <h4>الاخبار</h4>
        </div>
        <div class="col-6 text-end">
          <h4>منوعات</h4>
        </div>
      </div>
    </div>


        -->
<section class="news">
  <div class="container">

      <div class="row gy-4">
        <ng-container *ngIf="LastNews$ | async as data">

        <div class="col-md-8  "><!--  d-flex align-items-stretch -->
          <div class="section-title">
            <h4>الاخبار</h4>
        </div>
          <div class="row box">
            <!--  <ng-container *ngFor="let item of data">  </ng-container> -->
            <div class="col-md-6">
              <div
                class="post-box"
                (click)="showNews(data[data.length - 2])"
                routerLink="/news-details/{{ data[data.length - 2]?.ID }}"
              >
                <div class="post-img">
                  <img
                    [src]="
                      'http://hamad_api.accessline.ps' +
                      data[data.length - 2]?.ImagePath
                    "
                  />
                </div>
                <div
                  class="d-flex justify-content-between align-items-baseline mb-1"
                >
                  <ng-container
                    *ngIf="data[data.length - 2]?.MainServiceID === 1"
                  >
                    <span class="categories">التأهيل الطبي</span>
                  </ng-container>
                  <ng-container
                    *ngIf="data[data.length - 2]?.MainServiceID === 2"
                  >
                    <span class="categories">الاطراف الصناعية</span>
                  </ng-container>
                  <ng-container
                    *ngIf="data[data.length - 2]?.MainServiceID === 3"
                  >
                    <span class="categories">السمع والتوازن</span>
                  </ng-container>
                  <ng-container
                    *ngIf="data[data.length - 2]?.MainServiceID === 4"
                  >
                    <span class="categories">العيادة الخارجية</span>
                  </ng-container>

                  <span class="post-date">{{
                    data[data.length - 2]?.CreatedDate | date
                  }}</span>
                </div>
                <h3 class="post-title">
                  {{
                    isEn
                      ? data[data.length - 2]?.TitleEn
                      : data[data.length - 2]?.TitleAr
                  }}
                </h3>
                <p>
                  {{
                    isEn
                      ? data[data.length - 2]?.DescEn
                      : (data[data.length - 2]?.DescAr | slice : 0 : 100)
                  }}
                  {{
                    isEn
                      ? data[data.length - 2]?.DescEn.length
                      : data[data.length - 2]?.DescAr.length > 100
                      ? "..."
                      : ""
                  }}
                </p>
                <a href="#" class="readmore mt-auto d-flex align-items-baseline"
                  ><span>إقراء المزيد</span
                  ><i class="fa-solid fa-arrow-left-long ps-1"></i>
                </a>
              </div>
            </div>

            <div class="col-md-6 mt-md-0 mt-3">
              <div class="titlis-box">
                <p><strong>إقراء المزيد</strong></p>
                <ng-container *ngFor="let item of data">
                  <a
                    routerLink="/news-details/{{ item.ID }}"
                    (click)="showNews(item)"
                    class="title"
                    >عنوان المقال نموذج افتراضي يوضع
                    <i class="fa-solid fa-arrow-left-long ps-1"></i
                  ></a>
                </ng-container>
              </div>
            </div>
          </div>
        </div>

      </ng-container>

        <div class="col-md-4  flex-column"><!--  d-flex align-items-stretch -->
          <div class="section-title mb-2">
            <h4>منوعات</h4>
          </div>
          <div class="news-box2">
            <owl-carousel-o [options]="mix">
              <ng-container *ngIf="mix$ | async as data">
                <ng-template
                  carouselSlide
                  *ngFor="let item of data"
                >
                  <img
                    [src]="'http://hamad_api.accessline.ps' + item?.ImagePath"
                    class="img-fluid"
                    style="border-radius: 8px"
                    alt=""
                  />

                  <div class="news-box2-xontent">
                    <h3 class="post-title">
                      {{ isEn ? item?.TitleEn : item?.TitleAr }}
                    </h3>
                    <a
                    (click)="showmix(item)"
                    routerLink="/mix-details/{{ item?.ID }}"
                      class="readmore mt-auto d-flex align-items-baseline"
                      ><span>إقراء المزيد</span
                      ><i class="fa-solid fa-arrow-left-long ps-1"></i>
                    </a>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>

          <!--   <div class="news-box2" (click)="showNews(data[data.length - 1])"  routerLink="/news-details/{{data[data.length - 1]?.ID}}">
            <div class="d-flex justify-content-center">
              <img [src]=" 'http://hamad_api.accessline.ps'+ data[data.length - 1]?.ImagePath" class="img-fluid" alt="" />
            </div>
            <div class="news-box2-xontent">
              <h3 class="post-title">
                {{
                  isEn
                    ? data[data.length - 1]?.TitleEn
                    : data[data.length - 1]?.TitleAr
                }}
              </h3>
              <a (click)="showNews(data[data.length - 1])" class="readmore mt-auto d-flex align-items-baseline"
                ><span>إقراء المزيد</span
                ><i class="fa-solid fa-arrow-left-long ps-1"></i>
              </a>
            </div>
          </div> -->
        </div>
      </div>

  </div>
</section>

<!-- employment-Ad -->
<div class="employment-ad">
  <div class="container background">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-9">
        <owl-carousel-o [options]="customOptions">
          <ng-container *ngIf="LandingPageData$ | async as data">
            <ng-template
              carouselSlide
              *ngFor="let item of data?.Advertisements"
            >
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-12 py-4">
                    <p>
                      {{ item?.Title }}
                    </p>
                    <ng-container *ngIf="item?.ButtonAdded">
                      <a [href]="item?.ButtonLink"
                        >{{ item?.ButtonTitle }}
                        <i class="fa-solid fa-arrow-left-long ps-1"></i
                      ></a>
                    </ng-container>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>
