<section>
  <div class="container">
    <div class="section-header text-center">
      <div class="row">
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
        <div class="col-md-4 col-6">
          <h3 class="px-md-5 px-2">التأهيل الطبي</h3>
        </div>
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="row d-flex justify-content-center">

      <div class="col-md-9 my-4">
        <ng-container *ngIf="Services$ |async as data">
          <p>
            {{
              isEn
                ? data?.MedicalRehabilitationDescEn
                : data?.MedicalRehabilitationDescAr
            }}
          </p>
        </ng-container>

      </div>
    </div>
    <div class="row d-flex justify-content-center s-title">
      <div class="col-md-4">
        <p>التأهيل الداخلي على مدار 24 ساعة (المبيت)</p>
      </div>
      <div class="col-md-2">
        <p>خدمات نهارية</p>
      </div>
      <div class="col-md-2">
        <p>خدمات خارجية</p>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="section-header text-center mb-4">
      <div class="row">
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
        <div class="col-md-4 col-6">
          <h3 class="px-md-5 px-2">وحدات التأهيل</h3>
        </div>
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div
        class="col-md-4 col-6 d-flex align-items-stretch mt-4 mt-md-0"
        *ngFor="let item of ProstheticsSearch$ | async"
      >
        <div class="icon-box">
          <h4>{{ isEn ? item?.NameEn : item?.NameAr }}</h4>
          <p>
            {{ isEn ? item?.NameEn : item?.NameAr }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-stories-home></app-stories-home>
<br />
<br />
