<section>
  <div class="container">
    <div class="section-header text-center">
      <div class="row">
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
        <div class="col-md-4 col-6">
          <h3 class="px-md-5 px-2">التأهيل الطبي</h3>
        </div>
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="row d-flex justify-content-center">

      <div class="col-md-9 my-4">
        <ng-container *ngIf="Services$ |async as data">
          <p>
            {{
              isEn
                ? data?.MedicalRehabilitationDescEn
                : data?.MedicalRehabilitationDescAr
            }}
          </p>
        </ng-container>

      </div>
    </div>
    <!-- <div class="row d-flex justify-content-center s-title">
      <ng-container *ngIf="MedicalRehabilitationFeatures$ | async as data">
        <div class="col-md-4  " *ngFor="let item of data">
          <p class=" "> {{
            isEn
              ? item?.NameEn
              : item?.NameAr
          }}</p>
        </div>
      </ng-container>
    </div> -->
  </div>

  <div class="container mt-5">
    <div class="section-header text-center mb-4">
      <div class="row">
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
        <div class="col-md-4 col-6">
          <h3 class="px-md-5 px-2">وحدات التأهيل</h3>
        </div>
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
      </div>
    </div>

    <div class="row justify-content-center ">
     <div
        class=" col-lg-4  col-md-6  mt-4"
        *ngFor="let item of MedicalRehabilitationServices$ | async">
        <div class="icon-box">
          <h4>{{ isEn ? item?.NameEn : item?.NameAr }}</h4>
          <p class="p-hide">
            {{ isEn ? item?.DescEn : item?.DescAr }}
          </p>
        </div>
      </div>
    </div>

  </div>
</section>

<app-stories-home></app-stories-home>
<br />
<br />
