<section>
  <div class="container">
    <div class="section-header text-center">
      <div class="row">
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
        <div class="col-md-4 col-6">
          <h3 class="px-md-5 px-2"> التأهيل الطبي</h3>
        </div>
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="row d-flex justify-content-center ">
      <div class="col-md-9 my-4">
        <p>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت
          تصاميم مطبوعه لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص
          بالتصاميم
          سواء كانت تصاميم مطبوعه </p>
      </div>
    </div>
    <div class="row d-flex justify-content-center s-title ">
      <div class="col-md-4">
        <p>التأهيل الداخلي على مدار 24 ساعة (المبيت)</p>
      </div>
      <div class="col-md-2">
        <p>خدمات نهارية</p>
      </div>
      <div class="col-md-2">
        <p>خدمات خارجية</p>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="section-header text-center mb-4">
      <div class="row">
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
        <div class="col-md-4 col-6">
          <h3 class="px-md-5 px-2">وحدات التأهيل</h3>
        </div>
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class=" col-md-4 col-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <h4>التخاطب والبلع</h4>
          <p>
            لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت
            تصاميم مطبوعه
          </p>
        </div>
      </div>
      <div class=" col-md-4 col-6 d-flex align-items-stretch mt-4 mt-md-0 ">
        <div class="icon-box">
          <h4>علاج طبيعي </h4>
          <p>
            لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت
            تصاميم مطبوعه
          </p>
        </div>
      </div>
      <div class=" col-md-4 col-6 d-flex align-items-stretch  mt-4 mt-md-0">
        <div class="icon-box">
          <h4>علاج وظيفي </h4>
          <p>
            لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت
            تصاميم مطبوعه
          </p>
        </div>
      </div>
      <div class=" col-md-4 col-6 d-flex align-items-stretch mt-4 ">
        <div class="icon-box">
          <h4>التأهيل المجتمعي</h4>
          <p>
            لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت
            تصاميم مطبوعه
          </p>
        </div>
      </div>
      <div class=" col-md-4 col-6 d-flex align-items-stretch  mt-4">
        <div class="icon-box">
          <h4>خدمة الدعم النفسي والاجتماعي</h4>
          <p>
            لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت
            تصاميم مطبوعه
          </p>
        </div>
      </div>
      <div class=" col-md-4 col-6 d-flex align-items-stretch  mt-4">
        <div class="icon-box">
          <h4>التغذية السريرية</h4>
          <p>
            لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت
            تصاميم مطبوعه
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
<!--
<app-stories-home></app-stories-home> -->