
<section class="breadcrumbs">
  <div class="container">
    <h2>الإعلانات</h2>
  </div>
</section>


<div class="container">

  <ng-container *ngIf="LandingPageData$ | async as data">
    <div class="box-blog py-4" *ngFor="let item of data.Advertisements"  >
      <div class="row align-items-center">
        <div class="col-md-8 d-flex align-items-stretch ">
          <div>
            <span><i class="fa-solid fa-calendar"></i> {{item?.CreatedDate | date }}</span>
            <h2  routerLink="/mix-details/{{item.ID}}"> {{item?.Title }} </h2>
           <div class="post-pp">
            <p  [innerHTML]="item?.Desc | slice:0:200 "></p>
           </div>
           <!--  <p>{{ isEn ? item?.DescEn : item?.DescAr | slice:0:100 }} {{  isEn ? item?.DescEn.length : item?.DescAr.length > 100 ? '...' : '' }}</p> -->
            <a routerLink="/mix-details/{{item.ID}}"   class="readmore   mt-auto d-flex align-items-baseline"><span>إقراء
                المزيد</span><i class="fa-solid fa-arrow-left-long ps-1"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

  </ng-container>


</div>



