<section>
  <div class="container">
    <div class="section-header text-center">
      <div class="row">
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
        <div class="col-md-4 col-6">
          <h3 class="px-md-5 px-2">العيادات الخارجية</h3>
        </div>
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
      </div>
    </div>

    <!--  -->
    <div class="row d-flex justify-content-center ">
      <div class="col-md-9 my-4">
        <p>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت
          تصاميم مطبوعه لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص
          بالتصاميم
          سواء كان كانت تصاميم ت تصاميم مطبوعه </p>
      </div>
    </div>


    <div class="row mb-5">
      <div class=" col-md-4  d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><img src="../../../../assets/img/X-Ray Symbol.svg" alt=""></div>
          <div>
            <h4>قسم الاشعة </h4>
            <p>
              لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء
              كانت
              تصاميم مطبوعه
            </p>
          </div>
        </div>
      </div>
      <div class=" col-md-4  d-flex align-items-stretch mt-4 mt-md-0 ">
        <div class="icon-box">
          <div class="icon"><img src="../../../../assets/img/Microscope.svg" alt=""></div>

          <div>
            <h4>المختبر </h4>


            <p>
              لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء
              كانت
              تصاميم مطبوعه
            </p>
          </div>
        </div>
      </div>
      <div class=" col-md-4  d-flex align-items-stretch  mt-4 mt-md-0">

        <div class="icon-box">
          <div class=" icon"><img src="../../../../assets/img/Pharmacy Symbol.svg" alt=""></div>
          <div>

            <h4>خدمة الصيدلة</h4>

            <p>
              لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء
              كانت
              تصاميم مطبوعه
            </p>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <!--  -->
    <p-accordion class="my-5 py-5">
      <p-accordionTab header="العيادات التخصصية">
        <div class="row d-flex justify-content-center">
          <div class="col-md-4">
            <div class="body-box">
              عيادة تأهيل السكتة الدماغية
            </div>
            <div class="body-box">
              عيادة تأهيل السكتة الدماغية
            </div>
            <div class="body-box">
              عيادة تأهيل السكتة الدماغية
            </div>
          </div>
          <div class="col-md-4">
            <div class="body-box">
              عيادة تأهيل السكتة الدماغية
            </div>
            <div class="body-box">
              عيادة تأهيل السكتة الدماغية
            </div>
            <div class="body-box">
              عيادة تأهيل السكتة الدماغية
            </div>
          </div>
          <div class="col-md-4">
            <div class="body-box">
              عيادة تأهيل السكتة الدماغية
            </div>
            <div class="body-box">
              عيادة تأهيل السكتة الدماغية
            </div>
            <div class="body-box">
              عيادة تأهيل السكتة الدماغية
            </div>
          </div>

        </div>
      </p-accordionTab>
    </p-accordion>
    <!--  -->

    <hr>
    <!--  -->
    <p-accordion class="my-5 py-5">
      <p-accordionTab header="قسم الاشعة">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <div class="body-box">
              لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض
            </div>
            <div class="body-box">
              لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض
            </div>

          </div>
          <div class="col-md-6">
            <div class="body-box">
              لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض
            </div>
            <div class="body-box">
              لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض
            </div>

          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
    <!--  -->
    <hr>

    <!--  -->
    <p-accordion class="my-5 py-5">
      <p-accordionTab header="المختبر">
        <div class="row d-flex justify-content-center">
          <div class="col-md-3 col-6">
            <div class="body-box">
              فحص الدم
            </div>
            <div class="body-box">
              فحص الدم
            </div>
            <div class="body-box">
              فحص الدم
            </div>
            <div class="body-box">
              فحص الدم
            </div>

          </div>
          <div class="col-md-3 col-6">
            <div class="body-box">
              فحص الدم
            </div>
            <div class="body-box">
              فحص الدم
            </div>
            <div class="body-box">
              فحص الدم
            </div>
            <div class="body-box">
              فحص الدم
            </div>

          </div>
          <div class="col-md-3 col-6">
            <div class="body-box">
              فحص الدم
            </div>
            <div class="body-box">
              فحص الدم
            </div>
            <div class="body-box">
              فحص الدم
            </div>
            <div class="body-box">
              فحص الدم
            </div>

          </div>
          <div class="col-md-3 col-6">
            <div class="body-box">
              فحص الدم
            </div>
            <div class="body-box">
              فحص الدم
            </div>
            <div class="body-box">
              فحص الدم
            </div>
            <div class="body-box">
              فحص الدم
            </div>

          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
    <!--  -->
    <hr>

    <!--  -->
    <div class="row py-5 section-2 align-items-center">

      <div class="col-md-5 order-md-0 order-1 mt-md-0 mt-3">

        <h2 class="d-inline-block pb-2">وحدة التشخيص</h2>

        <div class="content pe-2 ps-3">
          <p>لوريم ايبسوم هو نموذج افتراضي لتعرض ليتصور طريقه وضع النصوص بالتصاميم سواء
            كانت
            تصاميم مطبوعه</p>
          <p>لوريم ايبسوم هو نموذج افتراضالعميل ليتصور طريقلتصاميم سواء
            كانت
            تصاميم مطبوعه</p>
          <p>لوريم ايبسوم هو نموذج افتراضالعميل ليتصور طريقلتصاميم سواء
            كانت
            تصاميم مطبوعه</p>

        </div>

      </div>


      <div class="col-md-7 order-md-1 order-0">
        <img src="../../../../assets/img/outpatient.png" class="img-fluid" alt="">
      </div>

    </div>
    <!--  -->


  </div>
</section>