<section>
  <div class="container">
    <div class="section-header text-center">
      <div class="row">
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
        <div class="col-md-4 col-6">
          <h3 class="px-md-5 px-2">العيادات الخارجية</h3>
        </div>
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
      </div>
    </div>

    <!--  -->
    <div class="row d-flex justify-content-center">
      <div class="col-md-9 mt-4 mb-2">
        <ng-container *ngIf="Services$ | async as data">
          <p class="text-center">
            {{
              isEn
                ? data?.MedicalRehabilitationDescEn
                : data?.MedicalRehabilitationDescAr
            }}
          </p>
        </ng-container>
      </div>
    </div>

    <div class="row mb-5 justify-content-center">
      <div
        class="col-lg-4 col-md-6 col-12 d-flex align-items-stretch mt-4 mt-md-3"
        *ngFor="let item of getOutpatientClinicsDepartments$ | async"
      >
        <div class="icon-box">
          <div class="icon">
            <img
              [src]="'http://hamad_api.accessline.ps' + item?.IconPath"
              alt=""
            />
          </div>
          <div>
            <h4>{{ isEn ? item?.NameEn : item?.NameAr }}</h4>
            <p>
              {{ isEn ? item?.DescEn : item?.DescAr }}
            </p>
          </div>
        </div>
      </div>
    </div>

      <p-accordion class="my-5 py-5">
      <ng-container *ngIf="getOutpatientClinicsDepartments$ | async as data; else m">
        <ng-container *ngFor="let item of data">
          <hr />
          <p-accordionTab [header]="isEn ? item.NameEn : item.NameAr">
                <div class="row"  >
                  <ng-container *ngFor="let serivce of OutpatientClinicsDepartmentsServices$ | async">
                    <ng-container *ngIf="item.ID == serivce.OutpatientClinicsDepartmentID">
                      <div class="col-md-4">
                        <div class="body-box" [pTooltip]="isEn ? serivce?.DescEn : serivce?.DescAr" tooltipPosition="top" [positionStyle]	="widthToolTip" >
                          {{ isEn ? serivce?.NameEn : serivce?.NameAr }}
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>

          </p-accordionTab>
        </ng-container>
      </ng-container>
    </p-accordion>

    <hr />
    <!--  -->

    <div class="col-12" *ngIf="HearingServices$ | async as data">
      <div  [innerHTML]="isEn ? data?.OutpatientClinicsSectionEn : data?.OutpatientClinicsSectionAr "></div>
    </div>


   <!--  <div class="row py-5 section-2 align-items-center">
      <div class="col-md-5 order-md-0 order-1 mt-md-0 mt-3">
        <h2 class="d-inline-block pb-2">وحدة التشخيص</h2>

        <div class="content pe-2 ps-3">
          <p>
            لوريم ايبسوم هو نموذج افتراضي لتعرض ليتصور طريقه وضع النصوص
            بالتصاميم سواء كانت تصاميم مطبوعه
          </p>
          <p>
            لوريم ايبسوم هو نموذج افتراضالعميل ليتصور طريقلتصاميم سواء كانت
            تصاميم مطبوعه
          </p>
          <p>
            لوريم ايبسوم هو نموذج افتراضالعميل ليتصور طريقلتصاميم سواء كانت
            تصاميم مطبوعه
          </p>
        </div>
      </div>

      <div class="col-md-7 order-md-1 order-0">
        <img
          src="../../../../assets/img/outpatient.png"
          class="img-fluid"
          alt=""
        />
      </div>
    </div> -->
    <!--  -->
  </div>
</section>

<app-stories-home></app-stories-home>
<br />
<br />
