  <!-- [class]="isActive ==true ? 'hide-bg' : 'bg-light fixed-top'" -->
 <!--  [class.navbar-scrolled]="isScrolled" -->
 <!-- [ngClass]="{'fixed-top': previousScrollPosition === 0}"  -->
<nav class="navbar py-1 navbar-expand-lg navbar-light show fixed-top bg-white"   >
  <div class="container d-flex justify-content-between">
    <a class="navbar-brand" routerLink="/home">
      <img
        src="../assets/img/logo.svg"
        alt=""
        class="d-inline-block align-text-top logo"
        [ngClass]="{ active: active == 1 }"
        (click)="active = 1"/>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa-solid fa-bars-staggered"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/home"
            [ngClass]="{ active: active == 1 }"
            (click)="active = 1"
            >الرئيسية</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/sections"
            class="nav-link"
            [ngClass]="{ active: active == 2 }"
            (click)="active = 2"
            >الخدمات
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/media-center/news/news-main"
            [ngClass]="{ active: active == 3 }"
            (click)="active = 3"
            >المركز الاعلامي
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/about-us"
            class="nav-link"
            [ngClass]="{ active: active == 4 }"
            (click)="active = 4"
            >حول المستشفى
          </a>
        </li>
        <div class="drop-down drop-down-2 d-inline-block ps-1"  >
          <a style="color: black; font-weight: 500;" [ngClass]="{ active: active == 5 }"
          (click)="active = 5" >الخدمات الالكترونية</a>
          <i class="fa-solid fa-chevron-up ps-2 arrow1"></i>
          <i class="fa-solid fa-chevron-down ps-2 arrow2"></i>
          <ul>
            <li>
              <a routerLink="/services-form/beneficiaries">خدمة مستفيدين</a>
            </li>
            <li>
              <a routerLink="/services-form/visitor">خدمة زائرين</a>
            </li>
            <li>
              <a routerLink="/services-form/institutions"
                >خدمة مؤسسات</a
              >
            </li>
          </ul>
        </div>
        <li class="nav-item">
          <a
            routerLink="/services-form/beneficiaries"
            class="nav-link"
            [ngClass]="{ active: active == 6 }"
            (click)="active = 6"
            >اتصل بنا
          </a>
        </li>
      </ul>

      <div
        *ngIf="LandingPageData$ | async as data"
        class="drop-down d-inline-block">
        <a style="color: #fff;" target="_blank" [href]="data?.MainInfo?.BookAppointment">حجز موعد</a>
      </div>

    </div>
  </div>
</nav>

      <!-- <div class="drop-down d-inline-block"><a>الخدمات الالكترونية</a>
        <i class="fa-solid fa-chevron-up ps-2 arrow1"></i>
        <i class="fa-solid fa-chevron-down ps-2 arrow2"></i>
        <ul>
          <li><a routerLink="/services-form/beneficiaries-service">خدمة مستفيدين</a></li>
          <li><a routerLink="/services-form/visitor-service">خدمة زائرين</a></li>
          <li><a routerLink="/services-form/institutions-service">خدمة مؤسسات</a></li>
        </ul>
      </div> -->

