.nav-item .nav-link{
  font-weight: 600;
}
.navbar {
  background: transparent !important;
}
:root{
  --main-color:#8a1538;
}
.bg{
  background-color: #8a1538;
  color: #fff;
}

.nav-link{
  position: relative;
  transition: .3s all;
  color: #000;
}
.nav-link::before{
position: absolute;
  content: '';
  width: 80%;
  height: 2px;
  background: #8a1538;
  display: block;
  bottom:  0;
  opacity: 0;
  transition: .3s all;
}
.nav-link.active{
  color: #8a1538;
}
.nav-link.active:hover::before , .nav-link.active::before , .nav-link:hover::before{
  opacity: 1;
  color: #8a1538;
}
.nav-link:hover{
  color: #8a1538;
}
