.nav-item .nav-link{
  font-weight: 600;
}
.navbar {
  background: transparent !important;
}
:root{
  --main-color:#8a1538;
}
.bg{
  background-color: #8a1538;
  color: #fff;
}

.nav-link{
  position: relative;
  transition: .3s all;
  color: #000;
}
 .nav-link::before{
position: absolute;
  content: '';
  width: 80%;
  height: 2px;
  background: #8a1538;
  display: block;
  bottom:  0;
  opacity: 0;
  transition: .3s all;
}
.nav-link.active{
  color: #8a1538;
}
.nav-link.active:hover::before , .nav-link.active::before , .nav-link:hover::before{
  opacity: 1;
  color: #8a1538;
}
.nav-link:hover{
  color: #8a1538;
}


/* .navbar-nav ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.navbar-nav ul li a {
  display: block;
  position: relative;
  color: #222222;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 600;
  padding: 0 3px;
  border-bottom: 2px solid transparent;
}

  .navbar-nav ul > li > a:before {
  content: "";
  position: absolute;
  width: 100% ;
  height: 2px;
  bottom: -5px;
  right: 0;
  background-color: #8a1538;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-nav ul > li > a:hover:before, li a:hover > a:before,  a:before {
  visibility: visible;
  width: 100%;
}

 .navbar-nav li a:hover,  a.active ,  li:hover > a {
  color: #8a1538 !important;
  border-bottom: 2px solid #8a1538;
}
 */

.drop-down {
  padding: 10px 17px;
  background: #8a1538;
  border-radius: 4px;
  color: #fff;
  position: relative;
  cursor: pointer;
}
.arrow1 , .arrow2{
  transition: .5s all ;
}
.arrow2 {
  display: none;
}
.drop-down:hover .arrow2 {
  display:inline-block
}
.drop-down:hover .arrow1 {
  display:none
}
.drop-down a:hover{
  color: #fff;
}
 .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #8a1538;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  list-style-type: none;
  color: #fff;
  border-radius: 4px;
}

 .drop-down:hover > ul {
  opacity: 1;
  top: 106%;
  visibility: visible;
}

 .drop-down li {
  min-width: 180px;
  position: relative;
}

 .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #ededed;
}

 .drop-down ul a:hover,  .drop-down ul .active > a,  .drop-down ul li:hover > a {
  color: #ffffff !important;
}

 .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}
.hide-bg{
  background: transparent !important;
}
.navbar-toggler{
  border: none !important;
}
.navbar-toggler i {
  color: #8a1538;
}
.navbar-toggler:focus{
border: 0 !important;
outline: 0 !important;
box-shadow: none !important;
}

.drop-down-2{
  background: transparent; color: black;
}
.drop-down-2:hover{
 color: black;
}
