<nav class="navbar py-1 navbar-expand-lg navbar-light show fixed-top bg-white">
  <div class="container d-flex justify-content-between">
    <a class="navbar-brand" routerLink="/home">
      <img
        src="../assets/img/logo.svg"
        alt=""
        class="d-inline-block align-text-top logo"
        [ngClass]="{ active: active == 1 }"
        (click)="active = 1"
      />
    </a>

    <div class="d-flex mobile">
      <div class="d-md-none d-block pt-1" id="navbarCollapse">
        <a><i class="fas fa-search" (click)="toggleSearch()"></i></a>
      </div>

      <div class="drop-down drop-down-beneficiaries d-md-none d-block  ">
        <a style="color: #fff" routerLink="/services-form/beneficiaries/2">حجز موعد</a>
      </div>
      <a (click)="setLang()" class="lang-btn ms-2 d-md-none d-block">
        {{Language.includes('en')?'AR':'EN'}}
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa-solid fa-bars-staggered"></i>

      </button>
    </div>

    <div class="collapse navbar-collapse" [ngClass]="{'show' : isNavbarOpen}" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/home"
            data-target="#navbarSupportedContent"
            [ngClass]="{ active: active == 1 }"
            (click)="active = 1 ; closeNavbar()">
            {{ isEn ? 'Home' : 'الرئيسية' }}
            </a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/about-us"
            class="nav-link"
            data-target="#navbarSupportedContent"
            [ngClass]="{ active: active == 4 }"
            (click)="active = 4 ; closeNavbar()">
            {{ isEn ? 'About hospital' : 'حول المستشفى' }}

          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/sections"
            class="nav-link"
            data-target="#navbarSupportedContent"
            [ngClass]="{ active: active == 2 }"
            (click)="active = 2 ; closeNavbar()">
            {{ isEn ? 'Services' : 'الخدمات' }}


          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/media-center/news/news-main"
            data-target="#navbarSupportedContent"
            [ngClass]="{ active: active == 3 }"
            (click)="active = 3 ; closeNavbar()">
            {{ isEn ? 'Media Center' : 'المركز الاعلامي' }}

          </a>
        </li>

        <div class="drop-down drop-down-2 d-inline-block ps-1">
          <a
            style="color: black; font-weight: 500"
            [ngClass]="{ active: active == 5 }"
            data-target="#navbarSupportedContent"
            (click)="active = 5 ; closeNavbar()">
            {{ isEn ? 'Electronic services' : 'الخدمات الالكترونية' }}


            </a
          >
          <i class="fa-solid fa-chevron-up  arrow1"></i>
          <i class="fa-solid fa-chevron-down  arrow2"></i>
          <ul>
            <li>
              <a routerLink="/services-form/beneficiaries/3">
                {{ isEn ? 'Beneficiary service' : 'خدمة مستفيدين' }}
              </a>

            </li>
            <li>
              <a routerLink="/services-form/visitor">
                {{ isEn ? 'Visitor service' : 'خدمة زائرين' }}

              </a>

            </li>
            <li>
              <a routerLink="/services-form/institutions">
                {{ isEn ? 'Institutions service' : 'خدمة مؤسسات' }}

              </a>

            </li>
            <li>
              <a
                routerLink="/services-form/beneficiaries/1"
                (click)="complaint(2)">
                {{ isEn ? 'Complaints' : 'شكاوى' }}
                </a>
            </li>
          </ul>
        </div>
        <li class="nav-item">
          <a
            routerLink="/contact-us"
            class="nav-link"
            [ngClass]="{ active: active == 6 }"
            data-target="#navbarSupportedContent"
            (click)="active = 6 ; closeNavbar()">
            {{ isEn ? 'Contact us' : 'اتصل بنا' }}
          </a>
        </li>
      </ul>

      <div class="d-flex align-items-center">
        <!--  <app-auto-complete-feild [deleteAfterSelect]="true" (onSelectionChange)="getItem($event)"  [isCustomSearch] = "true" [ConfigCustomSearch]="{
          api: 'LandingPage/Search',
          customParams: {
              Lang: 'ar'
          },
          UrlEndPoint: 'http://hamad_api.accessline.ps/api/'
      }"  ></app-auto-complete-feild> -->

        <div class="d-md-block d-none" id="navbarCollapse">
          <a><i class="fas fa-search" (click)="toggleSearch()"></i></a>
        </div>

        <div class="drop-down drop-down-beneficiaries d-md-block d-none ">
          <a style="color: #fff" routerLink="/services-form/beneficiaries/2">
            {{ isEn ? 'Appointment Booking' : 'حجز موعد' }}
          </a>
        </div>

        <a (click)="setLang()" class="lang-btn ms-2 d-md-block d-none">
          {{Language.includes('en')?'AR':'EN'}}
        </a>

      </div>
    </div>
  </div>
</nav>
<nav
  class="py-2 navbar-expand-lg navbar-light fixed-top search-bar"
  *ngIf="showSearch"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-9">
        <span class="p-input-icon-right d-block">
          <i class="pi pi-search"></i>
          <input
            [(ngModel)]="text"
            [formControl]="search"
            type="text"
            pInputText
            placeholder="ابحث"
          />
        </span>
      </div>
      <div class="col-md-2 col-3 ps-0">
        <button
          [disabled]="!text"
          class="btn"
          (click)="saveSearch()"
          type="submit"
        >
          بحث
        </button>
      </div>
    </div>
  </div>
</nav>
