<form class="row g-3" [formGroup]="Form_Rating">
  <div class="col-md-6">
    <label>الاسم كامل</label>
    <input formControlName="FullName" type="text" pInputText>
  </div>
  <div class="col-md-6">
    <label>البريد الالكتروني </label>
    <input formControlName="Email" type="email" pInputText>
    <div *ngIf="Form_Rating.get('Email')?.invalid && Form_Rating.get('Email')?.touched" class="error">
      <div *ngIf="Form_Rating.get('Email')?.errors?.['Email']" class="f">يرجى ادخال ايميل صحيح</div>
    </div>
  </div>
  <div class="col-md-6">
    <label>رقم الهاتف </label>
    <input  formControlName="PhoneNumber" type="number" pInputText>
  </div>
  <div class="col-md-6">
    <label>العنوان بالكامل</label>
    <input  formControlName="Address" type="text" id="inputAddress" pInputText>
  </div>
  <div class="col-6">
    <label>تقييم أداء المستشفى </label>
    <div class="rate-box">
      <p-rating  formControlName="hospitalRating" [cancel]="false"></p-rating>
    </div>
  </div>
  <div class="col-12">
    <button pButton type="button" class=""  (click)="saveRating()" label="إرسال"></button>
  </div>
</form>
