<ng-container *ngIf="PhotosDetails$ | async as data">
  <section class="news">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8">
          <div class="section-title">
            <ng-container *ngIf="data.MainServiceID === 1">
              <span>التأهيل الطبي</span>
            </ng-container>
            <ng-container *ngIf="data.MainServiceID === 2">
              <span>الاطراف الصناعية</span>
            </ng-container>
            <ng-container *ngIf="data.MainServiceID === 3">
              <span>السمع والتوازن</span>
            </ng-container>
            <ng-container *ngIf="data.MainServiceID === 4">
              <span>العيادة الخارجية</span>
            </ng-container>
            <ng-container *ngIf="data.MainServiceID === 5">  <span></span> خدمات طبية مساندة </ng-container>
            <ng-container *ngIf="data.MainServiceID === 6">  <span></span> غير مصنف </ng-container>
            <h1>{{ isEn ? data?.Title : data?.Title }}</h1>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-8">
          <ng-container *ngIf="ImageSection$ | async as data">
            <p-galleria [numVisible]="3" [value]="data" >
              <ng-template pTemplate="item" let-item>
                <img
                [lazyLoad]=" 'http://hamad_api.accessline.ps'+ item?.ImagePath"

                  style="width: 100%; height: 567px; object-fit: cover; border-radius: 4px;"
                />
              </ng-template>

              <ng-template pTemplate="thumbnail" let-item>
                <div class="grid grid-nogutter justify-content-center">
                  <img
                  [lazyLoad]=" 'http://hamad_api.accessline.ps'+ item?.ImagePath"
                    width="80%"
                  />
                </div>
              </ng-template>
            </p-galleria>
          </ng-container>
        </div>
        <div class="col-md-8">
          <p>{{ isEn ? data?.Desc: data?.Desc }}</p>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<div class="container py-5">
  <div class="section-2 d-flex align-items-center mb-2">
    <div class="line"></div>
    <h2 class="d-inline-block ps-2">قصص صحفية</h2>
  </div>
  <ng-container *ngIf="MediaCenterService$ | async as data">
    <div class="row">
      <div class="col-md-4 mt-md-0 mt-3" *ngFor="let item of data.slice(-3)">
        <div
          class="img"
          routerLink="/written-stories-details/{{ item.ID }}"
          (click)="showPhotosDetails(item)"
        >
          <img
            [lazyLoad]="'http://hamad_api.accessline.ps' + item?.ImagePath"
            style="
              width: 100%;
              object-fit: cover;
              height: 260px;
              border-radius: 6px;
            "
            class="img-fluid main-img"
            alt=""
          />
          <div class="d-flex justify-content-between img-title">
            <p [innerHTML]="item?.Title | slice : 0 : 30">
            </p>
            <div>
              <!--  <span>{{data.length}}</span> -->
              <img src="../../../../assets/img/photo.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
