<section class="news">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div class="section-title">
          <span>عنوان القصة الرقمية </span>
          <h1>
            وريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل
            ليتصور طريقه لتعرض على العميل ليتصور طريقه لتعرض على العميل
          </h1>
        </div>
      </div>
    </div>

    <div class="row justify-content-center" >
      <div class="col-md-10">
         <!--   <ng-container *ngIf="sliderData$ | async as data"> </ng-container>
    *ngFor="let item of data"
    -->

    <owl-carousel-o [options]="customOptions" style="position: relative;">
      <ng-template carouselSlide  >
        <img
          src="../../../../assets/img/hero.png"
          class="img-fluid"
          style="object-fit: cover; width: 100% ; max-height: 530px; border-radius: 8px;"
          alt=""
        />

      </ng-template>
      <ng-template carouselSlide  >
        <img
          src="../../../../assets/img/hero.png"
          class="img-fluid"
          style="object-fit: cover; width: 100% ; max-height: 530px; border-radius: 8px;"
          alt=""
        />

      </ng-template>
      <ng-template carouselSlide  >
        <img
          src="../../../../assets/img/hero.png"
          class="img-fluid"
          style="object-fit: cover; width: 100% ; max-height: 530px; border-radius: 8px;"
          alt=""
        />

      </ng-template>
    </owl-carousel-o>
      </div>
    </div>

  </div>
</section>

<div class="container py-5">
  <div class="section-2 d-flex align-items-center mb-2">
    <div class="line"></div>
    <h2 class="d-inline-block ps-2">قصص نجاح</h2>
  </div>
  <div class="row">
    <div class="col-md-4 mt-md-0 mt-3">
      <div class="img">
        <img
          src="../../../../assets/img/video1.png"
          class="img-fluid main-img"
          alt=""
          style="object-fit: cover; width: 100%"
        />
        <div class="d-flex justify-content-between img-title">
          <p>عنوان الفيديو</p>
          <span>03:30</span>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-md-0 mt-3">
      <div class="img">
        <img
          src="../../../../assets/img/video1.png"
          class="img-fluid main-img"
          alt=""
          style="object-fit: cover; width: 100%"
        />
        <div class="d-flex justify-content-between img-title">
          <p>عنوان الفيديو</p>
          <span>03:30</span>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-md-0 mt-3">
      <div class="img">
        <img
          src="../../../../assets/img/video1.png"
          class="img-fluid main-img"
          alt=""
          style="object-fit: cover; width: 100%"
        />
        <div class="d-flex justify-content-between img-title">
          <p>عنوان الفيديو</p>
          <span>03:30</span>
        </div>
      </div>
    </div>
  </div>
</div>
