<section>
  <div class="container">
    <div class="section-header text-center">
      <div class="row">
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
        <div class="col-md-4 col-6">
          <h3 class="px-md-5 px-2"> خدمات طبية مساندة</h3>
        </div>
        <div class="col-md-4 col-3">
          <span class="line"></span>
        </div>
      </div>
    </div>

    <!--  -->
    <div class="row d-flex justify-content-center ">
      <div class="col-md-9 my-4">
        <ng-container *ngIf="Services$ |async as data">
          <p>
            {{
              isEn
                ? data?.SupportiveMedicalDescEn
                : data?.SupportiveMedicalDescAr
            }}
          </p>
        </ng-container>
      </div>
    </div>


    <!-- ------------------------------------ -->
<div class="row mb-5 justify-content-center">
  <div
    class="col-lg-4 col-md-6 col-12 d-flex align-items-stretch mt-4 mt-md-3"
    *ngFor="let item of SupportiveMedicalDepartments$ | async"
  >
    <div class="icon-box">
      <div class="icon">
        <img
          [src]="'http://hamad_api.accessline.ps' + item?.IconPath"
          alt=""
        />
      </div>
      <div>
        <h4>{{ isEn ? item?.NameEn : item?.NameAr }}</h4>
        <p class="p-hide">
          {{ isEn ? item?.DescEn : item?.DescAr }}
        </p>
      </div>
    </div>
  </div>
</div>

  </div>
</section>

<app-stories-home></app-stories-home>

<br />
<br />
