<section class="news">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div class="section-title">
          <span>تصنيف الخبر </span>
          <h1>وريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه لتعرض على العميل ليتصور طريقه
            لتعرض على العميل </h1>
        </div>
      </div>
    </div>

    <img src="../../../assets/img/news-details.webp" class="img-fluid" alt="">

    <div class="row d-flex justify-content-center">
      <div class="col-md-8 d-flex justify-content-between align-items-center my-4">
        <div class="entry-meta">
          <p> <span> بواسطة</span> / ايبسوم هو نموذج افتراضي </p>
          <span>نشر بتاريخ: 11/01/2023 05:27 AM </span>
        </div>
        <div class="share-post">
          <span> <i class="fa-brands fa-whatsapp"></i></span>
          <span><i class="fa-regular fa-clone ps-3"></i></span>
        </div>
      </div>
      <div class="col-md-8 post-p">
        <!--  -->
        <p>
          وريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت
          تصاميم موريم ايبسوم هو نموذج افتراضي يوضع فالتصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء
          كانت تصاميم موريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه النصوص

        </p>
        <p>
          بالتصاميم سواء كانت تصاميم موريم ايبسوم هو نموذج افتراضي يوضع التصاميم لتعرض على العميل ليتصور طريقه وضع
          النصوص بالتصاميم سواء كانت تصاميم موريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه
          وضع النصوص بالتصاميم سواء كانت تصاميم موريم ايبسوم هو نموذج افتراضي يوضع التصاميم لتعرض على العميل ليتصور
          طريقه وضع النصوص بالتصاميم سواء كانت تصاميم موريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل

        </p>
        <p>
          ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم النصوص بالتصاميم سواء كانت تصاميم موريم ايبسوم هو
          نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم موريم
          ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم
          موريم ايبسوم هو نموذج افتراضي يوضع التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت

        </p>
        <p> تصاميايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت
          تصاميم موريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء
          كانت تصاميم موريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه.</p>
      </div>
    </div>
    <div class="last-news mt-5">
      <div class="section-2 d-flex align-items-center mb-2">
        <div class="line"> </div>
        <h2 class="d-inline-block ps-2">اخر الاخبار</h2>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="post-box mt-3">
            <div class="post-img"><img src="../../../assets/img/Bg.png" class="img-fluid" alt=""></div>
            <div class="d-flex justify-content-between align-items-baseline mb-1 ">
              <span class="categories">التأهيل الطبي</span>
              <span class="post-date">12/12/2022</span>
            </div>
            <h3 class="post-title">عنوان المقال نموذج افتراضي يوضع </h3>
            <p>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء
              كانت تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... </p>
            <a href="#" class="readmore   mt-auto d-flex align-items-baseline"><span>إقراء
                المزيد</span><i class="fa-solid fa-arrow-left-long ps-1"></i>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="post-box mt-3">
            <div class="post-img"><img src="../../../assets/img/Bg.png" class="img-fluid" alt=""></div>
            <div class="d-flex justify-content-between align-items-baseline mb-1 ">
              <span class="categories">التأهيل الطبي</span>
              <span class="post-date">12/12/2022</span>
            </div>
            <h3 class="post-title">عنوان المقال نموذج افتراضي يوضع </h3>
            <p>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء
              كانت تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... </p>
            <a href="#" class="readmore   mt-auto d-flex align-items-baseline"><span>إقراء
                المزيد</span><i class="fa-solid fa-arrow-left-long ps-1"></i>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="post-box mt-3">
            <div class="post-img"><img src="../../../assets/img/Bg.png" class="img-fluid" alt=""></div>
            <div class="d-flex justify-content-between align-items-baseline mb-1 ">
              <span class="categories">التأهيل الطبي</span>
              <span class="post-date">12/12/2022</span>
            </div>
            <h3 class="post-title">عنوان المقال نموذج افتراضي يوضع </h3>
            <p>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء
              كانت تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... </p>
            <a href="#" class="readmore   mt-auto d-flex align-items-baseline"><span>إقراء
                المزيد</span><i class="fa-solid fa-arrow-left-long ps-1"></i>
            </a>
          </div>
        </div>
      </div>



    </div>



  </div>
</section>