/* You can add global styles to this file, and also import other style files */
/* @import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
 */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
body{
  font-family: 'Cairo', sans-serif !important;
  overflow-x: hidden;
}
p{
  font-weight: 500;
  color: #1c1c1c;
}
a{
  text-decoration: none !important;
  transition: .3s all;
  display: inline-block;
}
