<h3>خدمة مؤسسات</h3>

<p-tabView styleClass="tabview-custom">
  <p-tabPanel header="طلب تغطية صحفية" [selected]="true">
    <form class="row g-3" [formGroup]="Form_PressCoverageRequest">
      <div class="col-md-6">

        <label>الاسم كامل <span>(مطلوب)</span></label>
        <input [class.is-invalid]="FullName?.invalid && FullName?.touched" formControlName="FullName" type="text" pInputText>
        <div *ngIf="FullName?.invalid && FullName?.touched">
        <small class="text-danger" *ngIf="FullName?.errors?.['required']"  >الاسم مطلوب</small>
        <small class="text-danger" *ngIf="FullName?.errors?.['minlength']" >الاسم يجب ان يكون على الاقل 5 حروف</small>
        </div>
      </div>
      <div class="col-md-6">
        <label>البريد الالكتروني </label>
        <input [class.is-invalid]="Email?.invalid && Email?.touched" formControlName="Email" type="email" pInputText>
    <!--      <small [class.d-none]="Email?.valid || Email?.untouched"> يرجى ادخال الاميميل بشكل صحيح</small>
     -->     <div *ngIf="Email?.invalid && Email?.touched">
          <small class="text-danger" *ngIf="Email?.errors?.['email']" >يرجى ادخال الايميل بشكل صحيح</small>
          </div>
      </div>
      <div class="col-md-6">
        <label>رقم الموبايل <span>(مطلوب)</span></label>
        <input [class.is-invalid]="FullName?.invalid && FullName?.touched" formControlName="PhoneNumber" type="text" pInputText>
        <div *ngIf="PhoneNumber?.invalid && PhoneNumber?.touched">
          <small class="text-danger" *ngIf="PhoneNumber?.errors?.['required']"  >رقم الموبايل مطلوب</small>
          <small class="text-danger d-block " *ngIf="PhoneNumber?.errors?.['pattern']" >يرجى ادخال موبايل بشكل صحيح </small>
           <small class="text-danger" *ngIf="PhoneNumber?.errors?.['minlength'] ||PhoneNumber?.errors?.['maxlength']" >الرقم يجب ان يكون من 10ارقام </small>
          </div>
      </div>
      <div class="col-md-6">
        <label>العنوان بالكامل <span>(مطلوب)</span></label>
        <input [class.is-invalid]="FullName?.invalid && FullName?.touched" formControlName="Address" type="text" id="inputAddress" pInputText>
        <div *ngIf="Address?.invalid && Address?.touched">
          <small class="text-danger" *ngIf="Address?.errors?.['required']"  >العنوان مطلوب</small>
          </div>
      </div>

      <div class="col-12">
        <label>نص الرسالة </label>
        <textarea formControlName="TextMessage" [rows]="4" pInputTextarea></textarea>
      </div>
      <div class="col-12">
        <button pButton type="button" class="mb-2" (click)="savePressCoverageRequest()" label="إرسال"></button>
        <p-captcha
        siteKey="6LeeT7QmAAAAAEnHpRDr9oRQcPUNVQWv1D5_oSBv"
        initCallback="onloadCallback"
        (onResponse)="showResponse($event)"
      ></p-captcha>
      </div>
    </form>

  </p-tabPanel>
  <p-tabPanel header="طلب زيارة">
    <form class="row g-3" [formGroup]="Form_VisitRequest">
      <div class="col-md-6">

        <label>الاسم كامل <span>(مطلوب)</span></label>
        <input [class.is-invalid]="FullName?.invalid && FullName?.touched" formControlName="FullName" type="text" pInputText>
        <div *ngIf="FullName?.invalid && FullName?.touched">
        <small class="text-danger" *ngIf="FullName?.errors?.['required']"  >الاسم مطلوب</small>
        <small class="text-danger" *ngIf="FullName?.errors?.['minlength']" >الاسم يجب ان يكون على الاقل 5 حروف</small>
        </div>
      </div>
      <div class="col-md-6">
        <label>البريد الالكتروني </label>
        <input [class.is-invalid]="Email?.invalid && Email?.touched" formControlName="Email" type="email" pInputText>
    <!--      <small [class.d-none]="Email?.valid || Email?.untouched"> يرجى ادخال الاميميل بشكل صحيح</small>
     -->     <div *ngIf="Email?.invalid && Email?.touched">
          <small class="text-danger" *ngIf="Email?.errors?.['email']" >يرجى ادخال الايميل بشكل صحيح</small>
          </div>
      </div>
      <div class="col-md-6">
        <label>رقم الموبايل <span>(مطلوب)</span></label>
        <input [class.is-invalid]="FullName?.invalid && FullName?.touched" formControlName="PhoneNumber" type="text" pInputText>
        <div *ngIf="PhoneNumber?.invalid && PhoneNumber?.touched">
          <small class="text-danger" *ngIf="PhoneNumber?.errors?.['required']"  >رقم الموبايل مطلوب</small>
          <small class="text-danger d-block " *ngIf="PhoneNumber?.errors?.['pattern']" >يرجى ادخال موبايل بشكل صحيح </small>
           <small class="text-danger" *ngIf="PhoneNumber?.errors?.['minlength'] ||PhoneNumber?.errors?.['maxlength']" >الرقم يجب ان يكون من 10ارقام </small>
          </div>
      </div>
      <div class="col-md-6">
        <label>العنوان بالكامل <span>(مطلوب)</span></label>
        <input [class.is-invalid]="FullName?.invalid && FullName?.touched" formControlName="Address" type="text" id="inputAddress" pInputText>
        <div *ngIf="Address?.invalid && Address?.touched">
          <small class="text-danger" *ngIf="Address?.errors?.['required']"  >العنوان مطلوب</small>
          </div>
      </div>

      <div class="col-12">
        <label>نص الرسالة </label>
        <textarea formControlName="TextMessage" [rows]="4" pInputTextarea></textarea>
      </div>
      <div class="col-12">
        <button pButton type="button" class="mb-2" (click)="saveVisitRequest()" label="إرسال"></button>
        <p-captcha
        siteKey="6LeeT7QmAAAAAEnHpRDr9oRQcPUNVQWv1D5_oSBv"
        initCallback="onloadCallback"
        (onResponse)="showResponse($event)"
      ></p-captcha>
      </div>
    </form>

  </p-tabPanel>

</p-tabView>
