<h3>خدمة مؤسسات</h3>

<p-tabView styleClass="tabview-custom">
  <p-tabPanel header="طلب تغطية صحفية" [selected]="true">
    <form class="row g-3" [formGroup]="Form_PressCoverageRequest">
      <div class="col-md-6">
        <label>الاسم كامل</label>
        <input formControlName="FullName"  type="text" pInputText>
      </div>
      <div class="col-md-6">
        <label>البريد الالكتروني </label>
        <input formControlName="Email" type="email" pInputText>
      </div>
      <div class="col-md-6">
        <label>رقم الهاتف </label>
        <input formControlName="PhoneNumber" type="number" pInputText>
      </div>
      <div class="col-md-6">
        <label>العنوان بالكامل</label>
        <input formControlName="Address" type="text" id="inputAddress" pInputText>
      </div>

      <div class="col-12">
        <label>نص الرسالة </label>
        <textarea formControlName="TextMessage" [rows]="4" pInputTextarea></textarea>
      </div>
      <div class="col-12">
        <button pButton type="button" class="" (click)="savePressCoverageRequest()" label="إرسال"></button>
      </div>
    </form>

  </p-tabPanel>
  <p-tabPanel header="طلب زيارة">
    <form class="row g-3" [formGroup]="Form_VisitRequest">
      <div class="col-md-6">
        <label>الاسم كامل</label>
        <input formControlName="FullName"  type="text" pInputText>
      </div>
      <div class="col-md-6">
        <label>البريد الالكتروني </label>
        <input formControlName="Email" type="email" pInputText>
      </div>
      <div class="col-md-6">
        <label>رقم الهاتف </label>
        <input formControlName="PhoneNumber" type="number" pInputText>
      </div>
      <div class="col-md-6">
        <label>العنوان بالكامل</label>
        <input formControlName="Address" type="text" id="inputAddress" pInputText>
      </div>

      <div class="col-12">
        <label>نص الرسالة </label>
        <textarea formControlName="TextMessage" [rows]="4" pInputTextarea></textarea>
      </div>
      <div class="col-12">
        <button pButton type="button" class="" (click)="saveVisitRequest()" label="إرسال"></button>
      </div>
    </form>

  </p-tabPanel>

</p-tabView>
