<div class="row">
  <div class="col-md-10">
    <div class="title mt-md-0 mt-4 mb-3">
      <h3>الرسالة</h3>
    </div>
    <p>
      لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في
      التصاميم لتعرض على العميل ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور
      طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي
      افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في
    </p>
    <p>
      لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في
      التصاميم لتعرض على العميل ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور
      طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي
    </p>
  </div>

</div>