<div class="row">
  <div class="col-md-6 mt-md-0 mt-3">
    <div class="img" routerLink="/video-details">
      <img src="../../../../assets/img/video1.png" class="img-fluid main-img" alt="">
      <div class="d-flex justify-content-between img-title">
        <p>عنوان الفيديو</p>
        <span>03:30</span>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-md-0 mt-3">
    <div class="img" routerLink="/video-details">
      <img src="../../../../assets/img/video1.png" class="img-fluid main-img" alt="">
      <div class="d-flex justify-content-between img-title">
        <p>عنوان الفيديو</p>
        <span>03:30</span>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="img" routerLink="/video-details">
      <img src="../../../../assets/img/video1.png" class="img-fluid main-img" alt="">
      <div class="d-flex justify-content-between img-title">
        <p>عنوان الفيديو</p>
        <span>03:30</span>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="img" routerLink="/video-details">
      <img src="../../../../assets/img/video1.png" class="img-fluid main-img" alt="">
      <div class="d-flex justify-content-between img-title">
        <p>عنوان الفيديو</p>
        <span>03:30</span>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="img" routerLink="/video-details">
      <img src="../../../../assets/img/video1.png" class="img-fluid main-img" alt="">
      <div class="d-flex justify-content-between img-title">
        <p>عنوان الفيديو</p>
        <span>03:30</span>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="img" routerLink="/video-details">
      <img src="../../../../assets/img/video1.png" class="img-fluid main-img" alt="">
      <div class="d-flex justify-content-between img-title">
        <p>عنوان الفيديو</p>
        <span>03:30</span>
      </div>
    </div>
  </div>
</div>
