
<div class="row filter">
  <div class="col-md-1">
    <p [ngClass]="{'active':active==+ ''}" (click)="filterVideo('')"  >الكل</p>
  </div>
  <div class="col-md-2">
    <p [ngClass]="{'active':active==1}" (click)="filterVideo(1)"   >التأهيل الطبي</p>
  </div>
  <div class="col-md-2">
    <p [ngClass]="{'active':active==2}" (click)="filterVideo(2)"   >الأطراف الصناعية</p>
  </div>
  <div class="col-md-2">
    <p [ngClass]="{'active':active==3}" (click)="filterVideo(3)" >السمع والتوازن</p>
  </div>
  <div class="col-md-2">
    <p [ngClass]="{'active':active==4}" (click)="filterVideo(4)"   >العيادات الخارجية</p>
  </div>
  <div class="col-md-3">
    <p [ngClass]="{'active':active==5}" (click)="filterVideo(5)"  >خدمات طبية مساندة</p>
  </div>
</div>

<div class="row">

<ng-container *ngIf="MediaCenterService$ |async as data">

  <div class="col-md-6 mb-4"  *ngFor="let item of data">
    <div class="img"  (click)="updateQueryParams(item?.VideoPath)">
      <img
      [lazyLoad]=" 'http://hamad_api.accessline.ps'+ item?.ImagePath"
        class="img-fluid main-img"
        alt=""
        style=" object-fit: cover; height: 300px; border-radius: 6px;"
      />
      <div class="d-flex justify-content-between img-title">
        <p>{{ item?.Title | slice:0:35 }}</p>
      </div>
     <a class=" icon_video play-btn mb-4"></a>
    </div>
  </div>
</ng-container>

</div>

<div class="video-modal">
  <p-dialog header="هذا النص هو مثال لنص يمكن أن يستبدل ..." [(visible)]="display" *ngIf="display" [modal]="true" [dismissableMask]="true"  [draggable]="false" [resizable]="false" [style]="{width: '47vw' , height: '55vh'}">
    <app-video-preview-modal></app-video-preview-modal>
  </p-dialog>
</div>



