<ng-container *ngIf="MediaCenterService$ |async as data">
  <div class="row">
        <div class="col-md-6 mt-md-0 mt-3"  *ngFor="let item of data">
          <div class="box-blog py-3"  >
          <div class="img" routerLink="/photo-details/{{item.ID}}">
            <img [src]=" 'http://hamad_api.accessline.ps'+ item?.ImagePath" class="img-fluid main-img" style="height: 300px; object-fit: cover;" alt="">
            <div class="d-flex justify-content-between img-title">
              <p>{{ isEn ? item?.TitleEn : item?.TitleAr }} </p>
              <div>
             <!--    <span>10</span> -->
                <img src="../../../../assets/img/photo.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </ng-container>

