<div class="row">
  <div class="col-md-6 mt-md-0 mt-3">
    <div class="img">
      <img src="../../../../assets/img/image.webp" class="img-fluid main-img" alt="">
      <div class="d-flex justify-content-between img-title">
        <p>عنوان الالبوم</p>
        <div>
          <span>10</span>
          <img src="../../../../assets/img/photo.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-md-0 mt-3">
    <div class="img">
      <img src="../../../../assets/img/image.webp" class="img-fluid main-img" alt="">
      <div class="d-flex justify-content-between img-title">
        <p>عنوان الالبوم</p>
        <div>
          <span>10</span>
          <img src="../../../../assets/img/photo.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="img">
      <img src="../../../../assets/img/image.webp" class="img-fluid main-img" alt="">
      <div class="d-flex justify-content-between img-title">
        <p>عنوان الالبوم</p>
        <div>
          <span>10</span>
          <img src="../../../../assets/img/photo.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="img">
      <img src="../../../../assets/img/image.webp" class="img-fluid main-img" alt="">
      <div class="d-flex justify-content-between img-title">
        <p>عنوان الالبوم</p>
        <div>
          <span>10</span>
          <img src="../../../../assets/img/photo.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="img">
      <img src="../../../../assets/img/image.webp" class="img-fluid main-img" alt="">
      <div class="d-flex justify-content-between img-title">
        <p>عنوان الالبوم</p>
        <div>
          <span>10</span>
          <img src="../../../../assets/img/photo.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <div class="img">
      <img src="../../../../assets/img/image.webp" class="img-fluid main-img" alt="">
      <div class="d-flex justify-content-between img-title">
        <p>عنوان الالبوم</p>
        <div>
          <span>10</span>
          <img src="../../../../assets/img/photo.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>