.title h3 {
color:#8a1538 ;
padding: 3px 10px;
font-size: 22px;
font-weight: 600;
}
.title p  , span{
color: #5E5E5F;
}
 img{
  width: 100%;
 object-fit: cover;
}


.editor-img > .col-md-10 {
  width:100% !important ;
}
