<div class="row">
  <div class="col-md-10">
    <div class="title mt-md-0 mt-4">
      <h3>النشأة </h3>
      <p>لوريم ايبسوم هو نموذج افتراضي يوضع في الوريم ايبسوم هو نموذج افتراضي </p>
    </div>

    <div class="text-center mb-4">
      <img src="../../../../assets/img/start.png" class="img-fluid" alt="">
      <span class="d-inline-block text-center pt-1">لوريم ايبسوم هو نموذج افتراضي يوضع في الوريم ايبسوم هو نموذج افتراضي
      </span>
    </div>

    <p>
      لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في
      التصاميم لتعرض على العميل ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور
      طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي
      ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقهلوريم ايبسوم هو نموذج
      افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في
    </p>
    <p>
      لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في
      التصاميم لتعرض على العميل ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور
      طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي
    </p>
    <p>
      لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في
      التصاميم لتعرض على العميل ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور
    </p>

  </div>

</div>