<div class="row editor-img">
  <div class="col-md-10">
    <ng-container *ngIf="AboutHospital$ | async as data">
      <div class="title mt-md-0 mt-4">
        <h3>{{ isEn ? data[0]?.NameEn : data[0]?.NameAr }}</h3>
      </div>
     <div  [innerHTML]="isEn ? data[0]?.DescEn : data[0]?.DescAr "></div>

      <!--   <p>
        لوريم ايبسوم هو نموذج افتراضي يوضع في الوريم ايبسوم هو نموذج افتراضي
      </p>
      <div class="text-center mb-4">
        <img src="../../../../assets/img/start.png" class="img-fluid" alt="" />
        <span class="d-inline-block text-center pt-1"
          >لوريم ايبسوم هو نموذج افتراضي يوضع في الوريم ايبسوم هو نموذج افتراضي
        </span>
      </div>

      <p>
        لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور
        طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل
        ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على
        العميل ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض
        على العميل ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي ليتصور طريقهلوريم
        ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور
        طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل
        ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في
      </p>
      <p>
        لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور
        طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل
        ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على
        العميل ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض
        على العميل ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي
      </p>
      <p>
        لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور
        طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل
        ليتصور طريقهلوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على
        العميل ليتصور
      </p> -->
    </ng-container>
  </div>
</div>
