<ng-container *ngIf="MediaCenterService$ |async as data">
  <div class="box-blog py-4" *ngFor="let item of data"  >
    <div class="row align-items-center">
      <div class="col-md-8 d-flex align-items-stretch order-md-0 order-1 mb-mt-0 mt-3  ">
        <div>
          <span><i class="fa-solid fa-calendar"></i> {{item?.CreatedDate | date }}</span>
          <h2  routerLink="/mix-details/{{item.ID}}"  (click)="showNews(item)"  > {{ isEn ? item?.Title : item?.Title }} </h2>
         <div class="post-pp">
          <p  [innerHTML]="item?.Desc | slice:0:100 "></p>
         </div>
         <!--  <p>{{ isEn ? item?.DescEn : item?.DescAr | slice:0:100 }} {{  isEn ? item?.DescEn.length : item?.DescAr.length > 100 ? '...' : '' }}</p> -->
          <a routerLink="/mix-details/{{item.ID}}"  (click)="showNews(item)" class="readmore   mt-auto d-flex align-items-baseline"><span>إقراء
              المزيد</span><i class="fa-solid fa-arrow-left-long ps-1"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-stretch order-md-1 order-0  ">
        <img  [lazyLoad]=" 'http://hamad_api.accessline.ps'+ item?.ImagePath" style="width: 100%; object-fit: cover; height: 180px; border-radius: 6px;" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</ng-container>

<!-- {{ descriptionText | slice:0:100 }}{{ descriptionText.length > 100 ? '...' : '' }}
 -->
